<div class="flex flex-colflex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
      
      <div class="text-4xl font-extrabold tracking-tight leading-none">Registro de accionistas</div>
        <div class="ml-0.5 font-medium text-secondary">Control de accionistas</div><br>
  
            <!-- Filters -->
            <div class="max-h-400">
                <form class="flex-auto mt-4 px-8 pt-10 bg-card shadow rounded overflow-hidden" (submit)="onSubmit()">
  
                  <p class="text-lg font-extrabold">DATOS PERSONALES</p>
                  <mat-divider class="mt-6 mb-10"></mat-divider>
  
                  <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-0 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Primer nombre:</mat-label>
                    <mat-icon
                      matPrefix
                      class="hidden sm:flex icon-size-5"
                      [svgIcon]="'heroicons_solid:user-circle'">
                    </mat-icon>
                    <input matInput id="nom_pri" name="nom_pri" [(ngModel)]="nom_pri" required>
                </mat-form-field>
      
                <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-0 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-label>Segundo nombre:</mat-label>
                  <mat-icon
                    matPrefix
                    class="hidden sm:flex icon-size-5"
                    [svgIcon]="'heroicons_solid:user-circle'">
                  </mat-icon>
                  <input matInput id="nom_seg" name="nom_seg" [(ngModel)]="nom_seg" required>
                </mat-form-field>
      
                <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-0 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-label>Primer apellido:</mat-label>
                  <mat-icon
                    matPrefix
                    class="hidden sm:flex icon-size-5"
                    [svgIcon]="'heroicons_solid:user-circle'">
                  </mat-icon>
                  <input matInput id="ape_pri" name="ape_pri" [(ngModel)]="ape_pri" required>
                </mat-form-field>
      
                <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-label>Segundo apellido:</mat-label>
                  <mat-icon
                    matPrefix
                    class="hidden sm:flex icon-size-5"
                    [svgIcon]="'heroicons_solid:user-circle'">
                  </mat-icon>
                  <input matInput id="ape_seg" name="ape_seg" [(ngModel)]="ape_seg" required>
                </mat-form-field>
  
                  <mat-form-field class="w-full sm:w-30 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Documento:</mat-label>
                    <mat-icon svgIcon="heroicons_outline:identification"></mat-icon>
                    <mat-select [formControl]="animalControl" required>
                      <mat-option *ngFor="let animal of animals" [value]="animal.tipo_id_per">
                        {{animal.tipo_id_per}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="animalControl.hasError('required')">Por favor selecciona una opcion</mat-error>
                  </mat-form-field >
  
                  <mat-form-field class="w-full sm:w-40 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Numero:</mat-label>
                    <mat-icon
                          class="icon-size-5"
                          [svgIcon]="'heroicons_solid:hashtag'"
                          matPrefix></mat-icon>
                    <input matInput id="identificacion" name="identificacion" [(ngModel)]="identificacion" required>
                  </mat-form-field>
  
                  <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Expedida en el municipio de:</mat-label>
                    <mat-icon
                          class="icon-size-5"
                          [svgIcon]="'heroicons_solid:map-pin'"
                          matPrefix></mat-icon>
                    <input matInput id="div_exp_ide" name="div_exp_ide" [(ngModel)]="div_exp_ide" required>
                  </mat-form-field>
  
                  <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Departamento:</mat-label>
                    <mat-icon
                          class="icon-size-5"
                          [svgIcon]="'heroicons_solid:map-pin'"
                          matPrefix></mat-icon>
                    <input matInput id="nom_dep" name="nom_dep" [(ngModel)]="nom_dep" placeholder="Indique municipio y departamento" required>
                  </mat-form-field>
  
                  <mat-form-field class="w-full sm:w-40 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Fecha de nacimiento:</mat-label>
                    <input id="fec_nac" name="fec_nac" [(ngModel)]="fec_nac" matInput [matDatepicker]="picker" required>
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="!fec_nac">Por favor selecciona una fecha de nacimiento</mat-error>
                  </mat-form-field>
  
                  <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Lugar de nacimiento:</mat-label>
                    <mat-icon
                          class="icon-size-5"
                          [svgIcon]="'heroicons_solid:map-pin'"
                          matPrefix></mat-icon>
                    <input matInput id="lug_nac" name="lug_nac" [(ngModel)]="lug_nac" required>
                  </mat-form-field>
  
                  <mat-form-field class="w-full sm:w-30 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Sexo:</mat-label>
                    <mat-icon
                          class="icon-size-5"
                          [svgIcon]="'heroicons_solid:user'"
                          matPrefix></mat-icon>
                    <mat-select [formControl]="sexoControl" required>
                      <mat-option *ngFor="let sexo of sexo" [value]="sexo">
                        {{sexo.gen_per}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="sexoControl.hasError('required')">Por favor selecciona una opcion</mat-error>
                  </mat-form-field >
  
                  <mat-form-field class="w-full sm:w-60 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Estado civil:</mat-label>
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
                    <input matInput id="est_civ_per" name="est_civ_per" [(ngModel)]="est_civ_per" required>
                  </mat-form-field>
  
                  <mat-form-field class="w-full sm:w-40 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Numero de celular:</mat-label>
                    <mat-icon
                          class="icon-size-5"
                          [svgIcon]="'heroicons_solid:phone'"
                          matPrefix></mat-icon>
                    <input matInput id="cel_per" name="cel_per" [(ngModel)]="cel_per" required>
                  </mat-form-field>
  
                  <mat-form-field class="w-full sm:w-60 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Profesion:</mat-label>
                    <mat-icon
                          class="icon-size-5"
                          [svgIcon]="'heroicons_solid:briefcase'"
                          matPrefix></mat-icon>
                    <input matInput id="prof_per" name="prof_per" [(ngModel)]="prof_per" required>
                  </mat-form-field>
  
                  <mat-form-field class="w-full sm:w-52 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Actividad economica:</mat-label>
                    <mat-icon
                          class="icon-size-5"
                          [svgIcon]="'heroicons_solid:building-office-2'"
                          matPrefix></mat-icon>
                    <input matInput id="act_eco_per" name="act_eco_per" [(ngModel)]="act_eco_per" required>
                  </mat-form-field>
  
                  <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Correo electronico:</mat-label>
                    <mat-icon
                          class="icon-size-5"
                          [svgIcon]="'heroicons_solid:envelope'"
                          matPrefix></mat-icon>
                    <input matInput id="correo_per" name="correo_per" [(ngModel)]="correo_per" required>
                  </mat-form-field>
  
                  <mat-divider class="mt-6 mb-5"></mat-divider>
                  <p class="text-lg font-extrabold mt-6 ">DATOS DE DOMICILIO</p>
                  <mat-divider class="mt-4 mb-10"></mat-divider>
  
                  <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Direccion:</mat-label>
                    <mat-icon
                          class="icon-size-5"
                          [svgIcon]="'heroicons_solid:hashtag'"
                          matPrefix></mat-icon>
                    <input matInput id="dir_per_dom" name="dir_per_dom" [(ngModel)]="dir_per_dom" required>
                  </mat-form-field>
  
                  <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Barrio:</mat-label>
                    <mat-icon
                          class="icon-size-5"
                          [svgIcon]="'heroicons_solid:map-pin'"
                          matPrefix></mat-icon>
                    <input matInput id="barrio" name="barrio" [(ngModel)]="barrio" required>
                  </mat-form-field>
  
                  <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Municipio:</mat-label>
                    <mat-icon
                          class="icon-size-5"
                          [svgIcon]="'heroicons_solid:map-pin'"
                          matPrefix></mat-icon>
                    <input matInput id="municipio" name="municipio" [(ngModel)]="municipio" required>
                  </mat-form-field>
  
                  <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Departamento:</mat-label>
                    <mat-icon
                          class="icon-size-5"
                          [svgIcon]="'heroicons_solid:map-pin'"
                          matPrefix></mat-icon>
                    <input matInput id="nom_dep" name="nom_dep" [(ngModel)]="nom_dep" required>
                  </mat-form-field>
  
                  <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Pais:</mat-label>
                    <mat-icon
                          class="icon-size-5"
                          [svgIcon]="'heroicons_solid:map-pin'"
                          matPrefix></mat-icon>
                    <input matInput id="pais" name="pais" [(ngModel)]="pais"  required>
                  </mat-form-field>
  
                  <mat-form-field class="w-full sm:w-40 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Telefono:</mat-label>
                    <mat-icon
                          class="icon-size-5"
                          [svgIcon]="'heroicons_solid:phone'"
                          matPrefix></mat-icon>
                    <input matInput id="telf_dom" name="telf_dom" [(ngModel)]="telf_dom"  required>
                  </mat-form-field>
  
                  <mat-form-field class="w-full sm:w-30 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Indicativo:</mat-label>
                    <mat-icon
                          class="icon-size-5"
                          [svgIcon]="'heroicons_solid:hashtag'"
                          matPrefix></mat-icon>
                    <input matInput id="ind_tel_dom" name="ind_tel_dom" [(ngModel)]="ind_tel_dom"  required>
                  </mat-form-field>
  
                  <mat-divider class="mt-6 mb-5"></mat-divider>
                    <p class="text-lg font-extrabold mt-6 ">DATOS LABORALES</p>
                  <mat-divider class="mt-4 mb-10"></mat-divider>
  
                  <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Empresa para la cual labora:</mat-label>
                    <mat-icon
                          class="icon-size-5"
                          [svgIcon]="'heroicons_solid:building-office-2'"
                          matPrefix></mat-icon>
                    <input matInput id="nom_empre" name="nom_empre" [(ngModel)]="nom_empre"  required>
                  </mat-form-field>
  
                  <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Direccion:</mat-label>
                    <mat-icon
                    class="icon-size-5"
                    [svgIcon]="'heroicons_solid:map-pin'"
                    matPrefix></mat-icon>
                    <input matInput id="dir_lab" name="dir_lab" [(ngModel)]="dir_lab"  required>
                  </mat-form-field>
  
                  <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Barrio:</mat-label>
                    <input matInput id="bar_lab" name="bar_lab" [(ngModel)]="bar_lab"  required>
                  </mat-form-field>
  
                  <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Municipio:</mat-label>
                    <input matInput id="mun_lab" name="mun_lab" [(ngModel)]="mun_lab"  required>
                  </mat-form-field>
  
                  <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Departameto:</mat-label>
                    <input matInput id="dep_lab" name="dep_lab" [(ngModel)]="dep_lab"  required>
                  </mat-form-field>
  
                  <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Pais:</mat-label>
                    <input matInput id="pais_lab" name="pais_lab" [(ngModel)]="pais_lab"  required>
                  </mat-form-field>
  
                  <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Telefono:</mat-label>
                    <mat-icon
                          class="icon-size-5"
                          [svgIcon]="'heroicons_solid:phone'"
                          matPrefix></mat-icon>
                    <input matInput id="telf_lab" name="telf_lab" [(ngModel)]="telf_lab"  required>
                  </mat-form-field>
  
                  <mat-form-field class="w-full sm:w-30 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Extension:</mat-label>
                    <mat-icon
                          class="icon-size-5"
                          [svgIcon]="'heroicons_solid:hashtag'"
                          matPrefix></mat-icon>
                    <input matInput id="ext_lab" name="ext_lab" [(ngModel)]="ext_lab"  required>
                  </mat-form-field>
  
                  <mat-form-field class="w-full sm:w-90 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Donde desea que envien su correspondencia?:</mat-label>
                    
                    <mat-select [formControl]="correspondenciaControl" required>
                      <mat-option *ngFor="let correspondencia of correspondencia" [value]="correspondencia">
                        {{correspondencia.corre_lab}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="sexoControl.hasError('required')">Por favor selecciona una opcion</mat-error>
                  </mat-form-field >
  
                  <mat-form-field class="w-full sm:w-90 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Cual:</mat-label>
                    <input matInput id="cual_lab" name="cual_lab" [(ngModel)]="cual_lab"  placeholder="(Indique barrio, municipio, departamento, pais)">
                  </mat-form-field>
  
                  <mat-divider class="mt-6 mb-5"></mat-divider>
                    <p class="text-lg font-extrabold mt-6 ">DILIGENCIE ESTE ESPACIO SOLO SI EL ACCIONISTA ES MENOR DE EDAD</p>
                  <mat-divider class="mt-4 mb-10"></mat-divider>
  
                  <mat-form-field class="w-full sm:w-130 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>¿Indique si los padres ejercen de manera conjunta la patria potestad?:</mat-label>
                    <mat-select [formControl]="potestadControl" required>
                      <mat-option *ngFor="let potestad of potestad" [value]="potestad">
                        {{potestad.potestad}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="sexoControl.hasError('required')">Por favor selecciona una opcion</mat-error>
                  </mat-form-field >
  
                  <p class="text-lg font-medium mt-4 sm:ml-4 ">En caso de respuesta negativa debe aportar documento de limitación de la patria potestad, recuerde que para <br> menores de edad el ejercicio de la patria
                    potestad, se ejerce de manera conjunta, pero para efectos de representación en asambleas que realice la entidad se debera indicar en este documento cual
                    de los dos padres ejercera la representación del menor.
                  </p>
  
                  <mat-form-field class="w-full sm:w-50 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Nombre del representante:</mat-label>
                    <mat-icon
                      matPrefix
                      class="hidden sm:flex icon-size-5"
                      [svgIcon]="'heroicons_solid:user-circle'">
                    </mat-icon>
                    <input matInput id="nom_repre" name="nom_repre" [(ngModel)]="nom_repre"  required>
                  </mat-form-field>
  
                  <mat-form-field class="w-full sm:w-50 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Documento de identidad:</mat-label>
                    <mat-icon svgIcon="heroicons_outline:identification"></mat-icon>
                    <mat-select [formControl]="representanteControl" required>
                      <mat-option *ngFor="let representante of representante" [value]="representante">
                        {{representante.tipo_id_repre}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="representanteControl.hasError('required')">Por favor selecciona una opcion</mat-error>
                  </mat-form-field >
  
                  <mat-form-field class="w-full sm:w-40 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Numero:</mat-label>
                    <mat-icon
                          class="icon-size-5"
                          [svgIcon]="'heroicons_solid:hashtag'"
                          matPrefix></mat-icon>
                    <input matInput id="identificacion_repre" name="identificacion_repre" [(ngModel)]="identificacion_repre" required>
                  </mat-form-field>
  
                  <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Expedida en el municipio de:</mat-label>
                    <mat-icon
                          class="icon-size-5"
                          [svgIcon]="'heroicons_solid:map-pin'"
                          matPrefix></mat-icon>
                    <input matInput id="exp_ide_repre" name="exp_ide_repre" [(ngModel)]="exp_ide_repre" required>
                  </mat-form-field>
  
                  <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Departamento:</mat-label>
                    <mat-icon
                          class="icon-size-5"
                          [svgIcon]="'heroicons_solid:map-pin'"
                          matPrefix></mat-icon>
                    <input matInput id="nom_dep_repre" name="nom_dep_repre" [(ngModel)]="nom_dep_repre" placeholder="Indique municipio y departamento" required>
                  </mat-form-field>
  
                  <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Fecha de nacimiento:</mat-label>
                    <input id="fec_nac_repre" name="fec_nac_repre" [(ngModel)]="fec_nac_repre" matInput [matDatepicker]="clic" required>
                    <mat-datepicker-toggle matIconSuffix [for]="clic"></mat-datepicker-toggle>
                    <mat-datepicker #clic></mat-datepicker>
                    <mat-error *ngIf="!fec_nac_repre">Por favor selecciona una fecha de nacimiento</mat-error>
                  </mat-form-field>
  
                  <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Lugar de nacimiento:</mat-label>
                    <mat-icon
                          class="icon-size-5"
                          [svgIcon]="'heroicons_solid:map-pin'"
                          matPrefix></mat-icon>
                    <input matInput id="lug_nac_repre" name="lug_nac_repre" [(ngModel)]="lug_nac_repre" required>
                  </mat-form-field>
  
                  <mat-form-field class="w-full sm:w-30 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Sexo:</mat-label>
                    <mat-icon
                          class="icon-size-5"
                          [svgIcon]="'heroicons_solid:user'"
                          matPrefix></mat-icon>
                    <mat-select [formControl]="sexorepreControl" required>
                      <mat-option *ngFor="let sexo_repre of sexo_repre" [value]="sexo_repre">
                        {{sexo_repre.gen_repre}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="representanteControl.hasError('required')">Por favor selecciona una opcion</mat-error>
                  </mat-form-field >
  
                  <mat-form-field class="w-full sm:w-60 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Estado civil:</mat-label>
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
                    <input matInput id="est_civ_repre" name="est_civ_repre" [(ngModel)]="est_civ_repre" required>
                  </mat-form-field>
  
                  <mat-form-field class="w-full sm:w-50 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Numero de celular:</mat-label>
                    <mat-icon
                          class="icon-size-5"
                          [svgIcon]="'heroicons_solid:phone'"
                          matPrefix></mat-icon>
                    <input matInput id="cel_repre" name="cel_repre" [(ngModel)]="cel_repre" required>
                  </mat-form-field>
  
                  <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Profesion y actividad economica:</mat-label>
                    <mat-icon
                          class="icon-size-5"
                          [svgIcon]="'heroicons_solid:briefcase'"
                          matPrefix></mat-icon>
                    <input matInput id="prof_act_repre" name="prof_act_repre" [(ngModel)]="prof_act_repre" required>
                  </mat-form-field>
  
                  <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Correo electronico:</mat-label>
                    <mat-icon
                          class="icon-size-5"
                          [svgIcon]="'heroicons_solid:envelope'"
                          matPrefix></mat-icon>
                    <input matInput id="correo_repre" name="correo_repre" [(ngModel)]="correo_repre" required>
                  </mat-form-field>

                  <input
                    id="avatar-file-input"
                    class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                    type="file"
                    [accept]="'image/jpeg, image/png'"
                    #avatarFileInput>
                <label
                    class="flex items-center justify-center w-40 h-15 mt-4 rounded-full cursor-pointer hover:bg-hover"
                    for="avatar-file-input"
                    matRipple>
                    <mat-icon
                        class="text-black sm:ml-4"
                        [svgIcon]="'heroicons_outline:camera'">
                      </mat-icon>
                    <mat-hint class="w-full sm:w-72 mt-4 mb-0 sm:mt-0 sm:ml-4">Cargar imagen</mat-hint>
                </label>
  
                  <button class="fuse-mat-button w-30 mt-4 sm:ml-4" mat-fab [color]="'accent'" type="submit">Enviar</button>
  
                  <mat-divider class="mt-6 mb-10"></mat-divider>
  
                </form>
              </div>  
    </div>
  </div>
  