<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <div class="text-4xl font-extrabold tracking-tight leading-none">Actualizar accionista</div>
        <div class="ml-0.5 font-medium text-secondary">Manejo de accionistas</div><br>

        <!-- <mat-divider class="mt-4 mb-4"></mat-divider><br> -->

        <form  id="registro" [formGroup]="registroForm" >
              
            <div [style.text-align]="'center'" >

                <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-0" [subscriptSizing]="'dynamic'" >
                    <mat-label>Consultar por código (Identificación):</mat-label>
                    <mat-icon svgIcon="heroicons_outline:hashtag"></mat-icon>
                    <input matInput type="text" id="codUsuario" formControlName="codUsuario" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let dato of opcionesFiltradas | async" [value]="dato.codAccionista">
                            {{ dato.codAccionista }} - {{ (dato.nomAccionista) }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <button class="fuse-mat-button w-30 sm:ml-4" mat-stroked-button [color]="'primary'" (click)="consultarUsuario()"><mat-icon svgIcon="mat_outline:find_in_page"></mat-icon>Consultar</button><br>
            </div>
            <mat-divider class="mt-4 mb-4"></mat-divider><br>

            <div [style.text-align]="'center'" >

                <mat-form-field *ngIf="mostrarTablas" class="w-full sm:w-72 mt-4 sm:mt-4 " [subscriptSizing]="'dynamic'">
                    <mat-label>Tipo de accionista:</mat-label>
                    <mat-select id="tipoAccionista"  formControlName="tipoAccionista">
                    <mat-option [value]="1">Empleado</mat-option>
                    <mat-option [value]="2">Pertenece a junta</mat-option> 
                    <mat-option [value]="3">Ninguno</mat-option> 
                    </mat-select>
                </mat-form-field >

                <mat-form-field *ngIf="mostrarTablas" class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'" >
                    <mat-label>Número de Carnet del Accionista:</mat-label>
                    <mat-error>Solo se permiten números.</mat-error>
                    <input matInput type="text" id="numCarnet" formControlName="numCarnet">
                </mat-form-field>

                <mat-form-field *ngIf="mostrarTablas" class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Estado de aprobación:</mat-label>
                    <mat-select id="aprobado"  formControlName="aprobado">
                        <mat-option value="S" *ngIf="registroForm.get('aprobado').value === 'S'">Aprobado</mat-option>
                        <mat-option value="N" *ngIf="registroForm.get('aprobado').value === 'N'">Rechazado</mat-option>
                        <mat-option value="P">Pendiente</mat-option>
                    </mat-select>
                </mat-form-field>

                <button *ngIf="mostrarTablas" class="w-full sm:w-40 m-4 sm:mt-4 sm:ml-4" type="button" mat-stroked-button [color]="'primary'" (click)="fileInput.click()"><mat-icon svgIcon="mat_solid:attach_file"></mat-icon>Subir archivos</button>
                <input hidden (change)="onFileSelectedMultiple($event)" #fileInput multiple type="file" formControlName="file">
                <span  class="file-name" *ngFor="let file of selectedFileMultiple"> {{file.name}} - </span><br>
            </div>
        </form><br>

        <table *ngIf="mostrarTablas" mat-table [dataSource]="datosAccionista" class="mat-elevation-z4">

            <ng-container matColumnDef="avatar">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <img
                        class="w-10 h-10 rounded-full"
                        src="/assets/images/avatars/{{element.codUsuario}}.jpg"
                        alt="User avatar">
                </td>
            </ng-container>

            <ng-container class=" sm:w-72 " matColumnDef="tipDocumento">
                <th mat-header-cell *matHeaderCellDef> DOCUMENTO </th>
                <td mat-cell *matCellDef="let element"> {{element.tipDocumento}} </td>
            </ng-container>
    
            <ng-container matColumnDef="codUsuario">
                <th mat-header-cell *matHeaderCellDef> CÓDIGO </th>
                <td mat-cell *matCellDef="let element"> {{element.codUsuario}} </td>
            </ng-container>
        
            <ng-container matColumnDef="nombreUsuario">
                <th mat-header-cell *matHeaderCellDef> NOMBRE </th>
                <td mat-cell *matCellDef="let element"> {{ (element.nomPri || element.nomSeg || element.apePri || element.apeSeg) ? (element.nomPri + ' ' + element.nomSeg + ' ' + element.apePri + ' ' + element.apeSeg) : element.razonSocial }}  </td>
            </ng-container>
        
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> EMAIL </th>
                <td mat-cell *matCellDef="let element"> {{element.correoPersona}}
                </td>
            </ng-container>

            <ng-container matColumnDef="estadoCivil">
                <th  mat-header-cell *matHeaderCellDef> ESTADO CIVIL </th>
                <td mat-cell *matCellDef="let element"> {{element.estCivPersona}}
                </td>
            </ng-container>

            <ng-container matColumnDef="celular">
                <th mat-header-cell *matHeaderCellDef> CELULAR </th>
                <td mat-cell *matCellDef="let element"> {{element.celPersona}}
                </td>
            </ng-container>

            <ng-container matColumnDef="profesion">
                <th mat-header-cell *matHeaderCellDef> PROFESION </th>
                <td mat-cell *matCellDef="let element"> {{element.profPersona}}
                </td>
            </ng-container>

            <ng-container matColumnDef="direccionDomicilio">
                <th mat-header-cell *matHeaderCellDef> DIRECCION </th>
                <td mat-cell *matCellDef="let element"> {{element.dirDomicilio}}
                </td>
            </ng-container>   
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        </table><br>
        <div [style.width]="'800px'" style="margin: 0 auto;">
            <table *ngIf="mostrarTablas" mat-table [dataSource]="archivosAccionista" class="mat-elevation-z4" >

                <ng-container class=" sm:w-72 " matColumnDef="archivos">
                    <th mat-header-cell *matHeaderCellDef [style.text-align]="'center'" >ARCHIVOS</th>
                    <td mat-cell *matCellDef="let element" [style.text-align]="'center'"> {{element.fileName}} </td>
                </ng-container>
        
            <ng-container matColumnDef="descarga">
                    <th mat-header-cell *matHeaderCellDef [style.text-align]="'center'">ELIMINAR ARCHIVOS</th>
                    <td mat-cell *matCellDef="let element" [style.text-align]="'center'" style="text-align: justify; vertical-align: middle;"><a title="Eliminar archivo" (click)="eliminarArchivo(element.fileName)">
                        <mat-icon [color]="'warn'" svgIcon="mat_outline:delete_outline"></mat-icon>
                    </a> </td>
            </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumnsArchivos"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsArchivos;"></tr>
    
          </table><br>
        </div>
        <!-- <div class="ml-0.5 font-medium text-primary" *ngIf="mostrarCampoAdicionalFueraTabla">
            <mat-divider class="mt-4 mb-4"></mat-divider>
            <strong>EL ACCIONISTA ES MENOR DE EDAD, POR LO CUAL DEBE TENER UN REPRESENTANTE.</strong>
            <mat-divider class="mt-4 mb-4"></mat-divider>
        </div><br>

        <form  id="registro" [formGroup]="registroForm"  >
            <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-0" [subscriptSizing]="'dynamic'" *ngIf="mostrarCampoAdicionalFueraTabla" >
            <br>
                <mat-label>Consultar por código (Identificación):</mat-label>
                <mat-icon svgIcon="heroicons_outline:hashtag"></mat-icon>
                <input matInput type="text" id="campoTI" formControlName="codRepresentante" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let dato of opcionesFiltradasRepresentante | async" [value]="dato.codUsuario">
                        {{ dato.codUsuario }} - {{ (dato.nomPri || dato.nomSeg || dato.apePri || dato.apeSeg) ? (dato.nomPri + ' ' + dato.nomSeg + ' ' + dato.apePri + ' ' + dato.apeSeg) : dato.razonSocial }}
                      </mat-option>
                  </mat-autocomplete>
            </mat-form-field>

            <button  *ngIf="mostrarCampoAdicionalFueraTabla" class="fuse-mat-button w-30 sm:ml-4" mat-stroked-button [color]="'primary'" (click)="consultarRepresentante()"><mat-icon svgIcon="mat_outline:find_in_page"></mat-icon>Consultar</button><br>

            <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 " [subscriptSizing]="'dynamic'" *ngIf="mostrarCampoAdicionalFueraTabla">
                <mat-label>Descripción tipo de poder:</mat-label>
                <mat-select type="text" id="tipoRepresentante"  formControlName="tipoRepresentante">
                  <mat-option value="1">Empleado</mat-option>
                  <mat-option value="2">Pertenece a junta</mat-option> 
                  <mat-option value="3">Ninguno</mat-option> 
                </mat-select>
            </mat-form-field >
        </form><br>

        <table *ngIf="mostrarCampoAdicionalFueraTabla" mat-table [dataSource]="datosRepresentante" class="mat-elevation-z2">

            <ng-container matColumnDef="avatar">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <img
                        class="w-10 h-10 rounded-full"
                        src="/assets/images/avatars/{{element.codUsuario}}.jpg"
                        alt="User avatar">
                </td>
            </ng-container>

            <ng-container class=" sm:w-72 " matColumnDef="tipDocumento">
                <th mat-header-cell *matHeaderCellDef> DOCUMENTO </th>
                <td mat-cell *matCellDef="let element"> {{element.tipDocumento}} </td>
            </ng-container>
    
            <ng-container matColumnDef="codUsuario">
                <th mat-header-cell *matHeaderCellDef> CÓDIGO </th>
                <td mat-cell *matCellDef="let element"> {{element.codUsuario}} </td>
            </ng-container>
        
            <ng-container matColumnDef="nombreUsuario">
                <th mat-header-cell *matHeaderCellDef> NOMBRE </th>
                <td mat-cell *matCellDef="let element"> {{element.nomPri}} </td>
            </ng-container>
        
            <ng-container matColumnDef="apellidoUsuario">
                <th mat-header-cell *matHeaderCellDef> APELLIDO </th>
                <td mat-cell *matCellDef="let element"> {{element.apePri}}
                </td>
            </ng-container>
        
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> EMAIL </th>
                <td mat-cell *matCellDef="let element"> {{element.correoPersona}}
                </td>
            </ng-container>

            <ng-container matColumnDef="estadoCivil">
                <th  mat-header-cell *matHeaderCellDef> ESTADO CIVIL </th>
                <td mat-cell *matCellDef="let element"> {{element.estCivPersona}}
                </td>
            </ng-container>

            <ng-container matColumnDef="celular">
                <th mat-header-cell *matHeaderCellDef> CELULAR </th>
                <td mat-cell *matCellDef="let element"> {{element.celPersona}}
                </td>
            </ng-container>

            <ng-container matColumnDef="profesion">
                <th mat-header-cell *matHeaderCellDef> PROFESION </th>
                <td mat-cell *matCellDef="let element"> {{element.profPersona}}
                </td>
            </ng-container>

            <ng-container matColumnDef="direccionDomicilio">
                <th mat-header-cell *matHeaderCellDef> DIRECCION </th>
                <td mat-cell *matCellDef="let element"> {{element.dirDomicilio}}
                </td>
            </ng-container>

            <ng-container matColumnDef="tipoVivienda">
                <th mat-header-cell *matHeaderCellDef> VIVIENDA </th>
                <td mat-cell *matCellDef="let element"> {{element.tipoVivienda}}
                </td>
            </ng-container>
        
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        </table><br> -->
        <div [style.text-align]="'center'">
            <button  *ngIf="mostrarTablas" class="fuse-mat-button w-30 mt-4 " mat-mini-fab [color]="'accent'" (click)="onSubmit()" >Actualizar</button>
        </div>
    </div>
</div>
 <!-- {{ registroForm.get('tipoAccionista').value }} -->