<div class="flex flex-auto min-w-0 bg-card shadow rounded overflow-hidden">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
      
      <div class="text-4xl font-extrabold tracking-tight leading-none">Transacciones</div>
        <div class="ml-0.5 font-medium text-secondary"></div><br>
  
            <!-- Filters -->
            <form class="flex-auto mt-4 px-8 pt-10 bg-card shadow rounded overflow-hidden" id="transacciones" [formGroup]="transaccionesForm" (ngSubmit)="onSubmit()" >

                <mat-form-field class="w-full sm:w-40 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Id transaccion:</mat-label>
                    <input matInput type="text" id="idTransaccion"  formControlName="idTransaccion">
                    
                </mat-form-field>

                <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Tipo transacción LV</mat-label>
                    <mat-select type="text" id="tipoTransaccion"  formControlName="tipoTransaccion">
                        <mat-option value="VE">Transacción de venta</mat-option>
                        <mat-option value="CO">Transacción de compra</mat-option>
                        <mat-option value="DO">Transacción de donación</mat-option>
                        <mat-option value="EN">Transacción de endoso</mat-option>
                        <mat-option value="SU">Transacción de sucesión</mat-option>
                        <mat-option value="EM">Transacción de embargo</mat-option>  
                    </mat-select>
                    <mat-error>El campo es obligatorio</mat-error>
                </mat-form-field><br>

                <mat-form-field class="w-full sm:w-40 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Fecha de transaccion:</mat-label>
                    <input matInput type="text" id="fecTrans"  formControlName="fecTrans">
                </mat-form-field>

                <mat-form-field *ngIf="showIdSolicitante" class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Id solicitante:</mat-label>
                    <input matInput type="text" id="idSolicitante"  formControlName="idSolicitante" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let dato of opcionesFiltradas | async" [value]="dato.codAccionista">
                            {{ dato.codAccionista }} - {{ (dato.nomAccionista) }}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error>El campo es obligatorio</mat-error>
                </mat-form-field>

                <a *ngIf="showIdSolicitante" class="fuse-mat-button w-30 sm:ml-4" mat-stroked-button [color]="'primary'" (click)="consultarUsuario()"><mat-icon svgIcon="mat_outline:find_in_page"></mat-icon>Consultar</a><br>
                
                <mat-divider class="mt-4 mb-4"></mat-divider>
            </form>

            <p *ngIf="mostrarTabla" class="w-full mt-4 sm:mt-4 sm:ml-4">Los Titulos pertenecen a  {{ transaccionesForm.get('idSolicitante').value }} </p>

            <app-tablaventa *ngIf="mostrarTabla"></app-tablaventa>

            <form *ngIf="mostrarTabla" class="flex-auto mt-4 bg-card shadow rounded overflow-hidden" id="transacciones" [formGroup]="transaccionesForm">
                <!-- <mat-form-field *ngIf="mostrarTabla" class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Título a vender:</mat-label>
                    <input matInput type="text" id="idTitulo" formControlName="idTitulo" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option *ngFor="let titulo of titulosDisponibles" [value]="titulo.idTitulo">
                        {{ titulo.idTitulo }}
                      </mat-option>
                    </mat-autocomplete>
                    <mat-error>El campo es obligatorio.</mat-error>
                </mat-form-field>
                
                <mat-form-field *ngIf="mostrarTabla" class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4 " [subscriptSizing]="'dynamic'">
                        
                    <mat-label>Número de Acciones a vender:</mat-label>
                    <input matInput type="text" id="numAcciones"  formControlName="numAcciones">
                    <mat-error>El campo es obligatorio.</mat-error>
                </mat-form-field> -->

                <a *ngIf="mostrarTabla" class="fuse-mat-button w-40 " mat-raised-button [color]="'accent'" (click)="ventaDeAcciones()">Vender acción<mat-icon svgIcon="mat_outline:local_offer"></mat-icon></a><br>

                <div *ngFor="let accion of accionesFormArray.controls; let i = index" formArrayName="acciones">
                    <div [formGroupName]="i">
                        <mat-form-field *ngIf="mostrarTabla" class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                            <mat-label>Título a vender:</mat-label>
                            <input matInput type="text" id="idTitulo" formControlName="idTitulo" [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let titulo of titulosDisponibles" [value]="titulo.idTitulo">
                                {{ titulo.idTitulo }}
                            </mat-option>
                            </mat-autocomplete>
                            <mat-error>El campo es obligatorio.</mat-error>
                        </mat-form-field>
                        
                        <mat-form-field *ngIf="mostrarTabla" class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4 " [subscriptSizing]="'dynamic'">
                            
                            <mat-label>Número de Acciones a vender:</mat-label>
                            <input matInput type="text" id="numAcciones"  formControlName="numAcciones">
                            <mat-error>El campo es obligatorio.</mat-error>
                        </mat-form-field>
                    </div>    
                </div>
                <mat-divider class="mt-4 mb-4"></mat-divider>
            </form>
            
            <app-tablacompra *ngIf="mostrarTablaCompra"></app-tablacompra>

            <button class="w-full sm:w-72 mt-4" type="button" mat-stroked-button [color]="'primary'" (click)="fileInput.click()" ><mat-icon svgIcon="mat_solid:attach_file"></mat-icon>Documentos anexos a la solicitud</button>
            <input hidden (change)="onFileSelectedMultiple($event)" #fileInput multiple type="file" formControlName="file">
            <span class="file-name" *ngFor="let file of selectedFileMultiple"> {{file.name}} - </span><br>
            <mat-error *ngIf="selectedFileMultiple.length <= 0">Debes cargar los documentos anexos a la solicitud.</mat-error>

            <form  class="flex-auto mt-4 bg-card shadow rounded overflow-hidden" id="transacciones" [formGroup]="transaccionesForm">
                <a *ngIf="configurarCamposTomador()" class="fuse-mat-button w-32 sm:ml-4" mat-stroked-button [color]="'primary'" (click)="compraDeAcciones()">Comprar Accion</a>
                <a *ngIf="configurarCamposTomador()" class="fuse-mat-button w-32 sm:ml-4" mat-stroked-button [color]="'primary'" (click)="agregarTomador()">Agregar Tomador</a>
                <div *ngFor="let tomador of tomadoresFormArray.controls; let i = index" formArrayName="tomadores">
                    <div [formGroupName]="i">

                        <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                            <mat-label>Id tomador:</mat-label>
                            <input matInput type="text" id="idTomador" formControlName="idTomador" [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let dato of opcionesFiltradas | async" [value]="dato.codAccionista">
                                    {{ dato.codAccionista }} - {{ (dato.nomAccionista) }}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error>El campo es obligatorio.</mat-error>
                        </mat-form-field>
                        
                        <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4 " [subscriptSizing]="'dynamic'">
                            
                            <mat-label>Nombre del tomador:</mat-label>
                            <input matInput type="text" id="nomTomador"  formControlName="nomTomador" [matAutocomplete]="autoT">
                            <mat-autocomplete #autoT="matAutocomplete">
                                <mat-option *ngFor="let dato of opcionesFiltradas | async" [value]="dato.nomAccionista">
                                    {{ dato.codAccionista }} - {{ (dato.nomAccionista) }}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error>El campo es obligatorio.</mat-error>
                        </mat-form-field>

                    </div>
                </div>

                <div *ngFor="let compra of accionesCompraFormArray.controls; let i = index" formArrayName="accionesCompra">
                    <div [formGroupName]="i">

                        <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                            <mat-label>Título a vender:</mat-label>
                            <input matInput type="text" id="idTitulo" formControlName="idTitulo" [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let titulo of titulosDisponibles" [value]="titulo.idTitulo">
                                    {{ titulo.idTitulo }}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error>El campo es obligatorio.</mat-error>
                        </mat-form-field>

                        <mat-form-field  class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4 " [subscriptSizing]="'dynamic'">
                            
                            <mat-label>Número de Acciones a vender:</mat-label>
                            <input matInput type="text" id="numAcciones"  formControlName="numAcciones">
                            <mat-error>El campo es obligatorio.</mat-error>
                        </mat-form-field>

                    </div>
                </div>
                <mat-divider class="mt-4 mb-4"></mat-divider>
            </form>
            
              
            <!-- <div *ngFor="let tomador of tomadoresFormArray.controls; let i = index">
            <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Id del tomador</mat-label>
                <input matInput type="text" [formControl]="tomador.get('idTomador')">
            </mat-form-field>
            
            <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Nombre del tomador</mat-label>
                <input matInput type="text" [formControl]="tomador.get('nomTomador')">
            </mat-form-field>
            </div> -->

            <button class="fuse-mat-button w-30 mt-4 " mat-mini-fab [color]="'primary'" (click)="onSubmit()" [disabled]="selectedFileMultiple.length <= 0">Tramitar</button>
    </div>
</div>