<div class="bg-gray w-full flex flex-col mt-8 rounded-lg bg-white shadow-md">
    <h2 class="text-center mt-4 font-extrabold text-primary">
        Plancha No.{{ nombrePlancha.split("_")[1] }}
    </h2>

    <div class="flex md:flex-row sm:flex-col gap-2 rounded-lg mt-7 px-3 {{
            modoVotacion ? '' : 'mb-12'
        }}">
        <!-- Postulantes -->
        <div class="flex-1 bg-white rounded-lg" *ngFor="let postulante of nombresApellidos">
            <div class="flex-1 bg-white rounded-lg flex justify-center">
                <div class="col-span-2 relative flex flex-col justify-center">
                    <img src="../../../../assets/images/avatars/1010086199.jpg" alt=""
                        class="object-cover w-50 h-50 rounded-md opacity-90 hover:opacity-100 shadow-md" />
                    <h3 class="text-center font-extrabold mt-2 text-primary">
                        {{ postulante }}
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <!-- checkbox -->
    <div class="flex flex-row justify-center my-5" *ngIf="modoVotacion">
        <mat-radio-group aria-label="Select an option" >
            <mat-radio-button value="true">
                <span class="text-accent font-extrabold"> Seleccionar </span>
            </mat-radio-button>
            <mat-radio-button [value]="false">
                <span class="text-accent font-extrabold"> No seleccionar </span>
            </mat-radio-button>
        </mat-radio-group>
    </div>

    <h1>{{voto}}</h1>
</div>
