.custom-button-donar {

    color: #F8DE4C;
}


.custom-button-donar:hover {
    background-color: #fffdec;
}



.custom-button-sucesion {

    color: #FE901A;
}


.custom-button-sucesion:hover {
    background-color: #f2e4d4;
}



.custom-button-editar {

    color: #8B30FF;
}


.custom-button-editar:hover {
    background-color: #e9def9;
}

