<div class="flex flex-colflex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
      
      <div class="text-4xl font-extrabold tracking-tight leading-none">Registro de personas</div>
        <div class="ml-0.5 font-medium text-secondary"></div><br>
  
            <!-- Filters -->
            <!-- <div class="max-h-400"> -->
                <form class="flex-auto mt-4 px-8 pt-10 bg-card shadow rounded overflow-hidden" id="accionistas" [formGroup]="accionistasForm" (ngSubmit)="onSubmit()">
  
                  <p class="text-lg font-extrabold">DATOS PERSONALES</p>
                  <mat-divider class="mt-6 mb-10"></mat-divider>

                  <mat-form-field class="w-full sm:w-28 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Documento:</mat-label>
                    <mat-icon svgIcon="heroicons_outline:identification"></mat-icon>
                    <mat-select  id="tipDocumento" formControlName="tipDocumento" (selectionChange)="onSelectChange($event)" >
                      <mat-option value="CC">CC</mat-option>
                      <mat-option value="CE">CE</mat-option>
                      <mat-option value="TI">TI</mat-option>
                      <mat-option value="RC">RC</mat-option>
                      <mat-option value="NIT">NIT</mat-option>
                    </mat-select>
                  </mat-form-field >

                  <div *ngIf="showAdditionalField">
                    <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                      <mat-label>Razón social:</mat-label>
                      <input matInput type="text" id="razonSocial"  formControlName="razonSocial" (input)="convertToUpperCase()">
                    </mat-form-field>
                  </div>
  
                  <mat-form-field class="w-full sm:w-40 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Numero:</mat-label>
                    <mat-icon
                          class="icon-size-5"
                          [svgIcon]="'heroicons_solid:hashtag'"
                          matPrefix></mat-icon>
                    <input matInput type="text" id="codUsuario"  formControlName="codUsuario" (input)="onChange()" >
                    <mat-error >Solo se permiten números.</mat-error>
                  </mat-form-field>

                  <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Tipo de persona:</mat-label>
                    <mat-select type="text" id="tipoPersona"  formControlName="tipoPersona">
                      <mat-option value="NA">NATURAL</mat-option>
                      <mat-option value="JU">JURIDICA</mat-option>
                      <mat-option value="JA">JUNTA DE ACCION COMUNAL</mat-option>
                    </mat-select>
                  </mat-form-field >
  
                  <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-0 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Primer nombre:</mat-label>
                    <mat-icon
                      matPrefix
                      class="hidden sm:flex icon-size-5"
                      [svgIcon]="'heroicons_solid:user-circle'">
                    </mat-icon>
                    <input matInput type="text" id="nomPri"  formControlName="nomPri" (input)="convertToUpperCase()" >
                </mat-form-field>
      
                <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-0 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-label>Segundo nombre:</mat-label>
                  <mat-icon
                    matPrefix
                    class="hidden sm:flex icon-size-5"
                    [svgIcon]="'heroicons_solid:user-circle'">
                  </mat-icon>
                  <input matInput type="text" id="nomSeg"  formControlName="nomSeg" (input)="convertToUpperCase()">
                </mat-form-field>
      
                <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-0 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-label>Primer apellido:</mat-label>
                  <mat-icon
                    matPrefix
                    class="hidden sm:flex icon-size-5"
                    [svgIcon]="'heroicons_solid:user-circle'">
                  </mat-icon>
                  <input matInput type="text" id="apePri"  formControlName="apePri" (input)="convertToUpperCase()">
                </mat-form-field>
      
                <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-label>Segundo apellido:</mat-label>
                  <mat-icon
                    matPrefix
                    class="hidden sm:flex icon-size-5"
                    [svgIcon]="'heroicons_solid:user-circle'">
                  </mat-icon>
                  <input matInput type="text" id="apeSeg"  formControlName="apeSeg" (input)="convertToUpperCase()">
                </mat-form-field>

                <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-label>Departamento de expedicion:</mat-label>
                  <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:map-pin'"
                        matPrefix></mat-icon>
                  <mat-select id="departamentos" formControlName="departamentoExp" (selectionChange)="onDepartamentoChange($event)">
                    <mat-option *ngFor="let departamento of departamentos" value="{{ departamento.codigoDepartamento }}">
                      {{ departamento.nombreDepartamento }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
  
                <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-label>Expedida en el municipio de:</mat-label>
                  <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:map-pin'"
                        matPrefix></mat-icon>
                  <mat-select id="municipios" formControlName="municipioExp" >
                    <mat-option *ngFor="let municipio of municipios" value="{{municipio.codigoMunicipio}}">
                      {{ municipio.nombreMunicipio }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
  
                <mat-form-field class="w-full sm:w-40 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-label>Fecha de nacimiento:</mat-label>
                  <input matInput  id="fecNacimiento" formControlName="fecNacimiento" matInput [matDatepicker]="picker" required>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error>El año de nacimiento no puede ser mayor a la fecha actual.</mat-error> 
                </mat-form-field>

                <mat-form-field class="w-full sm:w-28 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-label>Sexo:</mat-label>
                  <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:user'"
                        matPrefix></mat-icon>
                  <mat-select type="text" id="genPersona"  formControlName="genPersona" required>
                    <mat-option value="M">M</mat-option>
                    <mat-option value="F">F</mat-option>
                  </mat-select>
                </mat-form-field >

                <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-label>Departamento de nacimiento:</mat-label>
                  <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:map-pin'"
                        matPrefix></mat-icon>
                  <mat-select id="departamentos" formControlName="depNacimiento" (selectionChange)="onDepartamentoNacimiento($event)">
                    <mat-option *ngFor="let departamento of departamentos" value="{{ departamento.codigoDepartamento }}">
                      {{ departamento.nombreDepartamento }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
  
  
                <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-label>Municipio de Nacimiento:</mat-label>
                  <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:map-pin'"
                        matPrefix></mat-icon>
                  <mat-select id="municipios" formControlName="lugNacimiento" >
                    <mat-option *ngFor="let municipio of municipiosPersona" value="{{municipio.codigoMunicipio}}">
                      {{ municipio.nombreMunicipio }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
  
                <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-label>Estado civil:</mat-label>
                  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
                  <mat-select  id="estCivPersona" formControlName="estCivPersona" >
                    <mat-option value="SOLTERO">SOLTERO(A)</mat-option>
                    <mat-option value="CASADO">CASADO(A)</mat-option>
                    <mat-option value="VIUDO">VIUDO(A)</mat-option>
                    <mat-option value="SEPARADO">SEPARADO(A)</mat-option>
                    <mat-option value="DIVORCIADO">DIVORCIADO(A)</mat-option>
                  </mat-select>
                </mat-form-field>
  
                <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-label>Numero de celular:</mat-label>
                  <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:phone'"
                        matPrefix></mat-icon>
                  <input matInput type="text" id="celPersona"  formControlName="celPersona" required>
                  <mat-error *ngIf="accionistasForm.get('celPersona').hasError('maxLengthExceeded')">El número de celular no puede tener más de 10 dígitos y como entrada solo debe tener números.</mat-error>
                </mat-form-field>

                <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-label>Profesion:</mat-label>
                  <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:briefcase'"
                        matPrefix></mat-icon>
                  <input matInput type="text" id="profPersona"  formControlName="profPersona" required (input)="convertToUpperCase()">
                </mat-form-field>

                <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-label>Actividad economica:</mat-label>
                  <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:building-office-2'"
                        matPrefix></mat-icon>
                  <input matInput type="text" id="actEcoPersona"  formControlName="actEcoPersona" [matAutocomplete]="auto" [required]="accionistasForm.get('tipDocumento').value !== 'TI' && accionistasForm.get('tipDocumento').value !== 'RC'">
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option value="NINGUNO">NINGUNO</mat-option>
                    <mat-option *ngFor="let dato of opcionesFiltradas | async" [value]="dato.codActEco">
                        {{ dato.nomActEco }}
                      </mat-option>
                  </mat-autocomplete>
                  <mat-error>Elige una opción.</mat-error>
                </mat-form-field>

                <mat-form-field class="w-full sm:w-80 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-label>Correo electronico:</mat-label>
                  <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:envelope'"
                        matPrefix></mat-icon>
                  <input matInput type="email" id="correoPersona"  formControlName="correoPersona" required (input)="convertToUpperCase()">
                  <mat-error >Ingrese un correo válido.</mat-error>
                </mat-form-field>

                <mat-divider class="mt-6 mb-5"></mat-divider>
                <p class="text-lg font-extrabold mt-6 ">DATOS DE DOMICILIO</p>
                <mat-divider class="mt-4 mb-10"></mat-divider>

                <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-label>Tipo de dirección:</mat-label>
                  <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:map-pin'"
                        matPrefix></mat-icon>
                  <mat-select  id="tipoDireccionDomicilio" formControlName="tipoDireccionDomicilio" (selectionChange)="onSelectChangeDireccion($event)" >
                    <mat-option value="Urbana">URBANA</mat-option>
                    <mat-option value="Rural">RURAL</mat-option>
                  </mat-select>
                </mat-form-field ><br>
                
                <mat-form-field *ngIf="showAdditionalFieldUrb" class="w-full sm:w-30 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-label>Vía:</mat-label>
                  <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:map-pin'"
                        matPrefix></mat-icon>
                  <mat-select  id="calle" formControlName="calle" >
                    <mat-option value="Calle">Calle</mat-option>
                    <mat-option value="Cra">Cra</mat-option>
                    <mat-option value="Av">Av</mat-option>
                  </mat-select>
                </mat-form-field >

                <mat-form-field *ngIf="showAdditionalFieldUrb" class="w-full sm:w-18 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-icon class="icon-size-5" svgIcon="heroicons_solid:chevron-right"></mat-icon>
                  <mat-label>Número</mat-label>
                  <mat-error >Solo se permiten números.</mat-error>
                  <input matInput  id="numDomicilio" formControlName="numDomicilio"  >
                </mat-form-field>
            
                <mat-form-field *ngIf="showAdditionalFieldUrb" class="w-full sm:w-16 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-icon class="icon-size-5" svgIcon="heroicons_solid:chevron-right"></mat-icon>
                  <mat-label>Letra</mat-label>
                  <mat-error >Solo se permiten letras.</mat-error>
                  <input matInput type="text" id="letraDomicilio" formControlName="letraDomicilio" (input)="convertToUpperCase()">
                </mat-form-field>

                <mat-form-field *ngIf="showAdditionalFieldUrb" class="w-full sm:w-22 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-icon class="icon-size-5" svgIcon="heroicons_solid:chevron-right"></mat-icon>
                  <mat-label>Número</mat-label>
                  <mat-error >Solo se permiten números.</mat-error>
                  <input matInput type="text" id="num2Domicilio" formControlName="num2Domicilio" >
                </mat-form-field>
          
                <mat-form-field *ngIf="showAdditionalFieldUrb" class="w-full sm:w-22 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-icon class="icon-size-5" svgIcon="heroicons_solid:chevron-right"></mat-icon>
                  <mat-label>Letra</mat-label>
                  <mat-error >Solo se permiten letras.</mat-error>
                  <input matInput type="text" id="letra2Domicilio" formControlName="letra2Domicilio" (input)="convertToUpperCase()" >
                </mat-form-field>
             
                <mat-form-field *ngIf="showAdditionalFieldUrb" class="w-full sm:w-20 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-icon class="icon-size-5" svgIcon="heroicons_solid:chevron-right"></mat-icon>
                  <mat-label>Número</mat-label>
                  <input matInput type="text" id="num3Domicilio" formControlName="num3Domicilio">
                </mat-form-field>

                <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-label>Dirección domicilio</mat-label>
                  <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:map-pin'"
                        matPrefix></mat-icon>
                  <input matInput type="text" id="dirDomicilio"  formControlName="dirDomicilio" >
                </mat-form-field>

                <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-label>Barrio</mat-label>
                  <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:map-pin'"
                        matPrefix></mat-icon>
                  <input matInput type="text" id="barrioDomicilio"  formControlName="barrioDomicilio" (input)="convertToUpperCase()">
                </mat-form-field>

                <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-label>Departamento:</mat-label>
                  <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:map-pin'"
                        matPrefix></mat-icon>
                  <mat-select id="departamentos" formControlName="departamentoDomicilio" (selectionChange)="onDepartamentoChangeDomicilio($event)">
                    <mat-option *ngFor="let departamento of departamentos" value="{{ departamento.codigoDepartamento }}">
                      {{ departamento.nombreDepartamento }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
  
                <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-label>Municipio:</mat-label>
                  <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:map-pin'"
                        matPrefix></mat-icon>
                  <mat-select id="municipios" formControlName="municipioDomicilio" >
                    <mat-option *ngFor="let municipio of municipiosDomicilio" value="{{municipio.codigoMunicipio}}">
                      {{ municipio.nombreMunicipio }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-label>Pais:</mat-label>
                  <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:user'"
                        matPrefix></mat-icon>
                      <mat-select type="text" id="paisDomicilio"  formControlName="paisDomicilio" required>
                        <mat-option value="Colombia">Colombia</mat-option>
                      </mat-select>
                </mat-form-field >

                <mat-form-field class="w-full sm:w-40 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-label>Telefono:</mat-label>
                  <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:phone'"
                        matPrefix></mat-icon>
                  <input matInput type="text" id="telfDomicilio"  formControlName="telfDomicilio">
                  <mat-error *ngIf="accionistasForm.get('telfDomicilio').hasError('maxLengthExceeded')">El número de teléfono no puede tener más de 10 dígitos y como entrada solo debe tener números.</mat-error>
                </mat-form-field>

                <mat-form-field class="w-full sm:w-28 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-label>Indicativo:</mat-label>
                  <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:hashtag'"
                        matPrefix></mat-icon>
                  <mat-error >Solo se permiten números.</mat-error>
                  <input matInput type="text" id="indTelDomicilio"  formControlName="indTelDomicilio">
                </mat-form-field>

                <mat-divider class="mt-6 mb-5"></mat-divider>
                  <p class="text-lg font-extrabold mt-6 ">DATOS LABORALES</p>
                <mat-divider class="mt-4 mb-10"></mat-divider>

                <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-label>Empresa para la cual labora:</mat-label>
                  <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:building-office-2'"
                        matPrefix></mat-icon>
                  <input matInput type="text" id="nomEmpresa"  formControlName="nomEmpresa" (input)="convertToUpperCase()">
                </mat-form-field>

                <mat-form-field class="w-full sm:w-40 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-label>Telefono:</mat-label>
                  <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:phone'"
                        matPrefix></mat-icon>
                  <input matInput type="text" id="telfLaboral"  formControlName="telfLaboral"  >
                  <mat-error *ngIf="accionistasForm.get('telfLaboral').hasError('maxLengthExceeded')">El número de teléfono no puede tener más de 10 dígitos y como entrada solo debe tener números.</mat-error>
                </mat-form-field>

                <mat-form-field class="w-full sm:w-28 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-label>Extension:</mat-label>
                  <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:hashtag'"
                        matPrefix></mat-icon>
                  <input matInput type="text" id="extLaboral"  formControlName="extLaboral"  >
                </mat-form-field>

                <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-label>Tipo de dirección:</mat-label>
                  <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:map-pin'"
                        matPrefix></mat-icon>
                  <mat-select  id="tipoDireccionLaboral" formControlName="tipoDireccionLaboral" (selectionChange)="onSelectChangeDireccionLaboral($event)">
                    <mat-option value="Urbana">URBANA</mat-option>
                    <mat-option value="Rural">RURAL</mat-option>
                  </mat-select>
                </mat-form-field ><br>
                
                <mat-form-field *ngIf="showAdditionalFieldUrbLab" class="w-full sm:w-30 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-label>Vía:</mat-label>
                  <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:map-pin'"
                        matPrefix></mat-icon>
                  <mat-select  id="calleLaboral" formControlName="calleLaboral">
                    <mat-option value="Calle">Calle</mat-option>
                    <mat-option value="Cra">Cra</mat-option>
                    <mat-option value="Av">Av</mat-option>
                  </mat-select>
                </mat-form-field >

                <mat-form-field *ngIf="showAdditionalFieldUrbLab" class="w-full sm:w-18 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-icon class="icon-size-5" svgIcon="heroicons_solid:chevron-right"></mat-icon>
                  <mat-label>Número</mat-label>
                  <mat-error >Solo se permiten números.</mat-error>
                  <input matInput type="text" id="numLaboral" formControlName="numLaboral"  >
                </mat-form-field>
            
                <mat-form-field *ngIf="showAdditionalFieldUrbLab" class="w-full sm:w-16 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-icon class="icon-size-5" svgIcon="heroicons_solid:chevron-right"></mat-icon>
                  <mat-label>Letra</mat-label>
                  <mat-error >Solo se permiten letras.</mat-error>
                  <input matInput type="text" id="letraLaboral" formControlName="letraLaboral" (input)="convertToUpperCase()">
                </mat-form-field>

                <mat-form-field *ngIf="showAdditionalFieldUrbLab" class="w-full sm:w-22 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-icon class="icon-size-5" svgIcon="heroicons_solid:chevron-right"></mat-icon>
                  <mat-label>Número</mat-label>
                  <mat-error >Solo se permiten números.</mat-error>
                  <input matInput type="text" id="num2Laboral" formControlName="num2Laboral">
                </mat-form-field>
          
                <mat-form-field *ngIf="showAdditionalFieldUrbLab" class="w-full sm:w-22 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-icon class="icon-size-5" svgIcon="heroicons_solid:chevron-right"></mat-icon>
                  <mat-label>Letra</mat-label>
                  <mat-error >Solo se permiten letras.</mat-error>
                  <input matInput type="text" id="letra2Laboral" formControlName="letra2Laboral" (input)="convertToUpperCase()">
                </mat-form-field>
             
                <mat-form-field *ngIf="showAdditionalFieldUrbLab" class="w-full sm:w-20 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-icon class="icon-size-5" svgIcon="heroicons_solid:chevron-right"></mat-icon>
                  <mat-label>Número</mat-label>
                  <mat-error >Solo se permiten números.</mat-error>
                  <input matInput type="text" id="num3Laboral" formControlName="num3Laboral">
                </mat-form-field>

                <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-label>Dirección Laboral</mat-label>
                  <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:map-pin'"
                        matPrefix></mat-icon>
                  <input matInput type="text" id="dirLaboral"  formControlName="dirLaboral">
                </mat-form-field>

                <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-label>Barrio</mat-label>
                  <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:map-pin'"
                        matPrefix></mat-icon>
                  <input matInput type="text" id="barrioLaboral"  formControlName="barrioLaboral" (input)="convertToUpperCase()">
                </mat-form-field>

                <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-label>Departamento:</mat-label>
                  <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:map-pin'"
                        matPrefix></mat-icon>
                  <mat-select id="departamentos" formControlName="departamentoLaboral" (selectionChange)="onDepartamentoChangeLaboral($event)">
                    <mat-option *ngFor="let departamento of departamentos" value="{{ departamento.codigoDepartamento }}">
                      {{ departamento.nombreDepartamento }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
  
                <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-label>Municipio:</mat-label>
                  <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:map-pin'"
                        matPrefix></mat-icon>
                  <mat-select id="municipios" formControlName="municipioLaboral" >
                    <mat-option *ngFor="let municipio of municipiosLaboral" value="{{municipio.codigoMunicipio}}">
                      {{ municipio.nombreMunicipio }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-label>Pais:</mat-label>
                  <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:user'"
                        matPrefix></mat-icon>
                      <mat-select type="text" id="paisLaboral"  formControlName="paisLaboral" >
                        <mat-option value="Colombia">Colombia</mat-option>
                      </mat-select>
                </mat-form-field >

                

                <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-label>Donde enviar correspondencia?:</mat-label>
                  <mat-select type="text" id="dirCorrespondencia"  formControlName="dirCorrespondencia" (selectionChange)="onSelectChangeCorrespondencia($event)">
                    <mat-option value="laboral">DIRECCION LABORAL </mat-option>
                    <mat-option value="domicilio">DIRECCION DOMICILIO </mat-option>
                    <mat-option value="otra">OTRA</mat-option>
                  </mat-select>
                </mat-form-field >

                <mat-form-field *ngIf="showAdditionalFieldCorrespondencia" class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-label>Cual:</mat-label>
                  <input matInput type="text" id="otraDirLaboral"  formControlName="otraDirLaboral"  placeholder="(Indique barrio, municipio, departamento, pais)" (input)="convertToUpperCase()">
                </mat-form-field><br>

                <mat-divider class="mt-6 mb-5"></mat-divider>
                  <p class="text-lg font-extrabold mt-6 ">INFORMACION BANCARIA</p>
                <mat-divider class="mt-4 mb-10"></mat-divider>

                <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-label>Numero de cuenta bancaria:</mat-label>
                  <input matInput type="text" id="numCuentaBancaria"  formControlName="numCuentaBancaria" >
                  <mat-error *ngIf="accionistasForm.get('numCuentaBancaria').hasError('maxLengthExceeded')">El número de cuenta no puede tener más de 16 dígitos.</mat-error>
                </mat-form-field>

                <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-label>Tipo de cuenta:</mat-label>
                  <mat-select type="text" id="tipoCuentaBancaria"  formControlName="tipoCuentaBancaria">
                    <mat-option value="AHORROS">CUENTA DE AHORROS</mat-option>
                    <mat-option value="CORRIENTE">CUENTA CORRIENTE</mat-option>
                  </mat-select>
                </mat-form-field >

                <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-label>Entidad bancaria:</mat-label>
                  <mat-select type="text" id="entidadBancaria"  formControlName="entidadBancaria">                    
                    <mat-option *ngFor="let banco of bancos" value="{{banco.codBanco}}">
                      {{banco.nomBanco}}
                    </mat-option>
                  </mat-select>
                </mat-form-field > <br><br>

                <button class="w-full sm:w-40 m-4 sm:mt-4 sm:ml-4" type="button" mat-stroked-button [color]="'primary'" (click)="fileInput.click()"><mat-icon svgIcon="heroicons_outline:camera"></mat-icon>Subir fotografia</button>
                <input hidden (change)="onFileSelected($event)" #fileInput type="file" formControlName="file" required>
                <span class="file-name">{{selectedFile?.name}}</span><br>
                <mat-error *ngIf="accionistasForm.get('file').hasError('required')">
                  Debes seleccionar una fotografía.
                </mat-error>

                <p class="text-lg font-medium mt-4 sm:ml-4 ">Declaro que la información aquí suministrada es veras, y autorizo a la EEBP S.A.E.S.P., para verificar
                  con todas las fuentes de información aquí consignadas.
                </p>

                <div class="button-container" >

                  <div class=" sm:mt-2 sm:ml-4" *ngIf="message">
                    <mat-label class="font-extrabold" >Huella Derecha:</mat-label>
                    <img class="w-30 h-30" style="transform: rotate(90deg);" [src]="message" alt="Huella recibida">
                  </div><br>
  
                  <div class=" sm:mt-2 sm:ml-4" *ngIf="message_2">
                    <mat-label class="font-extrabold" >Huella Izquierda:</mat-label>
                    <img class="w-30 h-30" style="transform: rotate(90deg);" [src]="message_2" alt="Huella recibid">
                  </div><br>

                </div>
                
                

                <div class=" sm:mt-2 sm:ml-4" *ngIf="messageFirma">
                  <mat-label class="font-extrabold" >Firma Recibida:</mat-label>
                  <img class="w-100 h-30" [src]="messageFirma" alt="Firma recibida">
                </div><br>

              <mat-form-field style="display: none;" class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Huella</mat-label>
                <input matInput id="huella" formControlName="huella">
              </mat-form-field>

              <mat-form-field style="display: none;" class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Huella2</mat-label>
                <input matInput id="huella2" formControlName="huella2">
              </mat-form-field>

              <mat-form-field style="display: none;" class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Firma</mat-label>
                <input matInput id="firma" formControlName="firma">
              </mat-form-field>
  
              <div class="button-container">
                <button class="fuse-mat-button sm:w-64 mt-4 sm:ml-4" mat-stroked-button [color]="'primary'" type="button" (click)="obtenerFirma()">
                  <mat-icon svgIcon="heroicons_outline:pencil-square"></mat-icon>
                  Iniciar registro de firma
                </button>

                <button class="fuse-mat-button sm:w-64 mt-4 sm:ml-4" mat-stroked-button [color]="'primary'" type="button" (click)="capturarFirma()">
                  <mat-icon svgIcon="mat_outline:save"></mat-icon>
                  Guardar firma
                </button>
                
              </div>

              <div class="button-container">
                <button class="fuse-mat-button sm:w-64 sm:w-30 mt-4 sm:ml-4" mat-stroked-button [color]="'primary'" type="button" (click)="obtenerHuella()">
                  <mat-icon class="sm:ml-4" svgIcon="fingerprint"></mat-icon>
                  Registrar huella índice derecho
                </button>

                <button class="fuse-mat-button sm:w-64 sm:w-30 mt-4 sm:ml-4" mat-stroked-button [color]="'primary'" type="button" (click)="obtenerHuella2()">
                  <mat-icon class="sm:ml-4" svgIcon="fingerprint"></mat-icon>
                  Registrar huella índice izquierdo
                </button>
              </div>

              
              <button class="fuse-mat-button w-24 mt-4 sm:ml-4" mat-mini-fab [color]="'accent'" type="submit"><mat-icon  svgIcon="navigate_next"></mat-icon>Enviar</button>
              <mat-divider class="mt-6 mb-10"></mat-divider>

            </form>
          <!-- </div>   -->
    </div>
</div>
<!-- {{ accionistasForm.get('entidadBancaria').value }} -->