<fuse-loading-bar></fuse-loading-bar>
<div class="w-full">

    <mat-tab-group [selectedIndex]="0" class="w-full">
        <mat-tab label="Preguntas Asamblea" class="w-full">
            <div class="w-full h-auto">
                <div class="flex-auto p-6 sm:p-10 w-full">
                    <!-- titulos -->
                    <div
                        class="ml-0.5 mb-5 text-4xl font-extrabold text-secondary flex flex-col flex-auto items-center justify-center">
                        Configuración Preguntas Asamblea </div>


                    <!-- alertas -->
                    <div class="flex justify-end fixed top-7 right-9 mt-20 w-full z-50 animated-box">

                        <div class="w-100 mb-4 ">

                            <div class="fixed  top-5 right-9 mt-20 w-80 z-50 animated-box" *ngIf="showSuccesAlert">
                                <fuse-alert [type]="'success'" [appearance]="'outline'" class="animated-box-content"
                                    @zoomIn>
                                    <span fuseAlertTitle>Información</span>
                                    ¡Transacción exitosa!
                                </fuse-alert>
                            </div>

                            <div class="fixed  top-5 right-9 mt-20 w-80 z-50 animated-box" *ngIf="showFailedAlert">
                                <fuse-alert [type]="'warn'" [appearance]="'outline'" class="animated-box-content"
                                    @shake>
                                    <span fuseAlertTitle>Información</span>
                                    ¡Transacción no exitosa!
                                </fuse-alert>
                            </div>
                        </div>
                    </div>
                    <!-- fin alertas -->

                    <div class="flex flex-auto w-full px-3 pt-10 bg-card shadow rounded overflow-hidden ">

                        <div class="flex flex-row justify-between w-full">
                            <!-- Formulario Plantilla de creación de preguntas -->
                            <div
                                class="flex  flex-auto flex-row  items-center w-full mb-5 ml-5 overflow-hidden justify-between">


                                <mat-vertical-stepper [linear]="false" #stepper class="w-full"
                                    [selectedIndex]="pasoActual">
                                    <mat-step>
                                        <form [formGroup]="formularioPreguntas">
                                            <!-- encabezado titulo -->
                                            <ng-template matStepLabel><span class="text-primary font-extrabold">Contexto
                                                    Preguntas Asamblea No. {{consecutivoAsamblea}}</span></ng-template>

                                            <!-- Tipo de Asamble -->
                                            <div class=" mr-5 mb-5 flex flex-row w-full justify-between">
                                                <div class="ml-7">

                                                    <mat-form-field class="w-80">
                                                        <mat-label class="text-primary font-semibold mt-2">Tipo de
                                                            Asamblea</mat-label>
                                                        <mat-select formControlName="tipoEncuesta">
                                                            <mat-option value="Informativa">Informativa</mat-option>
                                                            <mat-option value="Decision">Decisión</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                                <div>
                                                    <mat-form-field class="w-80">
                                                        <mat-label class="text-primary font-semibold mt-2">Nombre
                                                            Encuesta</mat-label>
                                                        <input matInput placeholder="Ingresa el nombre encuesta"
                                                            formControlName="nombreEncuesta">
                                                    </mat-form-field>
                                                </div>
                                            </div>

                                            <mat-divider class="mb-7" />


                                            <!-- Escoge los temas a tratar -->
                                            <mat-label class="text-primary font-semibold mb-5">Escoge los temas a
                                                tratar</mat-label>
                                            <div class="flex flex-row justify-center items-center mt-5">

                                                <div class="flex flex-wrap">
                                                    <ng-container *ngFor="let tema of temasAsamblea">
                                                        <section class="flex flex-col w-1/2">
                                                            <mat-checkbox (change)="toggleCheckbox(tema)"
                                                                [checked]="tema.selected"
                                                                [disabled]="esEditableTemasAsamblea" [value]="tema.id">
                                                                <p class="text-primary font-semibold">{{ tema.nombre }}
                                                                </p>
                                                            </mat-checkbox>
                                                        </section>
                                                    </ng-container>
                                                </div>
                                            </div>

                                            <div class="flex justify-end mt-6">
                                                <button mat-raised-button color="primary" class="w-40" matStepperNext
                                                    [disabled]="formularioPreguntas.invalid"
                                                    (click)="abrirDialogo(dialogTemplate)"
                                                    [disabled]="esEditableTemasAsamblea">&nbsp;
                                                    Siguiente
                                                    <mat-icon svgIcon="heroicons_outline:arrow-right"></mat-icon>
                                                </button>
                                            </div>
                                        </form>
                                    </mat-step>

                                    <!-- -----------------------------SEGUNDO STEP ----------------------------- -->

                                    <mat-step>
                                        <form [formGroup]="asignacionPregunta">
                                            <!-- encabezado titulo -->
                                            <ng-template matStepLabel><span
                                                    class="text-primary font-extrabold">Asignación
                                                    de preguntas para asamblea
                                                    No.{{consecutivoAsamblea}}</span></ng-template>

                                            <!-- Escoger Tipo de pregunta -->
                                            <div class=" mr-5 mb-5 flex flex-row justify-between w-full">
                                                <!-- Contexto de la pregunta -->
                                                <div class=" mr-5 mb-5 flex flex-row w-full mt-7">
                                                    <mat-form-field class="w-100">
                                                        <mat-label class="text-primary font-semibold">
                                                            Escoge el tema al que quieras agregar una pregunta
                                                        </mat-label>
                                                        <mat-select class="text-accent font-semibold"
                                                            formControlName="idTema">
                                                            <ng-container *ngFor="let opcion of temasAsamblea">
                                                                <ng-container *ngIf="opcion.selected">
                                                                    <mat-option [value]="opcion.id">
                                                                        <p class="text-primary font-semibold">{{
                                                                            opcion.nombre }}</p>
                                                                    </mat-option>
                                                                </ng-container>
                                                            </ng-container>
                                                        </mat-select>

                                                    </mat-form-field>
                                                </div>

                                                <!-- tipo de respuesta -->
                                                <div class="flex flex-row mt-14 mr-5">
                                                    <label id="tipoRespuesta"
                                                        class="text-primary font-semibold mr-6">Tipo
                                                        de
                                                        respuesta:</label>
                                                    <mat-radio-group class="flex flex-row "
                                                        aria-labelledby="tipoRespuesta" formControlName="tipoRespuesta">
                                                        <mat-radio-button value="unica">
                                                            <p class="text-primary font-extrabold">Única</p>
                                                        </mat-radio-button>
                                                        <mat-radio-button value="multiple">
                                                            <p class="text-primary font-extrabold">Múltiple</p>
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                            </div>
                                            <!-- ingresa la pregunta si esta es unica -->
                                            <div class="w-full">
                                                <mat-form-field class="w-full">
                                                    <mat-label class="text-primary font-semibold">Encabezado de la
                                                        pregunta:</mat-label>
                                                    <textarea matInput placeholder="Escribe aqui la pregunta"
                                                        formControlName="pregunta" (input)="filtrarCaracteres($event)"></textarea>
                                                </mat-form-field>
                                            </div>

                                            <!-- Adicionar preguntas de seleccion multiple -->
                                            <div class="w-full flex flex-row justify-center items-center "
                                                *ngIf="asignacionPregunta.value.tipoRespuesta === 'multiple'">
                                                <mat-form-field class="w-full">
                                                    <mat-label class="text-primary font-semibold">Ingresa las opciones
                                                        de la pregunta</mat-label>
                                                    <textarea matInput placeholder="Escribe aqui la pregunta"
                                                        [formControl]="respuestaOpcionMultiple"></textarea>
                                                </mat-form-field>
                                                <div class="ml-4">
                                                    <button mat-fab color="accent" (click)="agregarOpcion()">
                                                        <mat-icon svgIcon="heroicons_solid:plus"></mat-icon>
                                                    </button>
                                                </div>
                                            </div>




                                            <div class="flex flex-col"
                                                *ngIf="asignacionPregunta.value.tipoRespuesta === 'multiple'">

                                                <mat-divider class="my-6" />
                                                <h3 class="my-3 text-primary font-semibold">Visualizador de
                                                    preguntas
                                                    multiples </h3>
                                                <!-- visualizar preguntas multiples -->
                                                <div class="border border-blue-800 rounded-lg w-full min-h-15 p-12">
                                                    <div class="w-full flex flex-row justify-center items-center"
                                                        *ngFor="let respuesta of respuestasOpcionMultiple; let i = index">
                                                        <mat-form-field class="w-full">
                                                            <input matInput placeholder="Escribe aqui la pregunta"
                                                                [value]="respuesta"
                                                                (change)="actualizarRespuesta($event.target.value, i)" />
                                                        </mat-form-field>

                                                        <div class="ml-4">
                                                            <button mat-fab color="warn" (click)="eliminarOpcion(i)">
                                                                <mat-icon svgIcon="heroicons_solid:minus"></mat-icon>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </form>

                                        <!-- boton agregar pregunta existePreguntaMultiple || asignacionPregunta.invalid ||-->
                                        <div class="flex justify-end mt-8">
                                            <button mat-raised-button color="primary" class="w-40" matStepperNext
                                                (click)="guardarPreguntas()"
                                                [disabled]=" (asignacionPregunta.value.tipoRespuesta === 'multiple' && respuestasOpcionMultiple.length <= 1 || !asignacionPregunta.valid) || (asignacionPregunta.value.tipoRespuesta === 'unica' && !asignacionPregunta.valid )">&nbsp;
                                                <mat-icon svgIcon="feather:save"></mat-icon>
                                                <span>Guardar</span></button>
                                        </div>

                                    </mat-step>


                                </mat-vertical-stepper>

                            </div>
                            <!-- Fin Formulario -->
                        </div>
                    </div>


                    <!-- Spinner carga -->
                    <div class="flex justify-center items-center h-100 bg-card " *ngIf="loading">
                        <mat-spinner diameter="50" color="accent"></mat-spinner>
                    </div>


                </div>
            </div>
        </mat-tab>
        <!-- seccion dos -->
        <mat-tab label="Resumen General">

            <div class="w-full h-auto">
                <app-resumen-preguntas-asamblea />
            </div>
        </mat-tab>
    </mat-tab-group>
</div>


<ng-template #dialogTemplate>
    <div class="flex flex-row">
        <mat-icon svgIcon="heroicons_solid:exclamation-triangle" color="accent" class="mr-2"></mat-icon>
        <h2 mat-dialog-title class="font-extrabold"> Importante!</h2>
    </div>
    <mat-dialog-content>
        ¿Estás seguro del contexto y los temas a tratar en la asamblea No. "{{consecutivoAsamblea}}"
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close (click)="cerrarDialogo()"><span
                class="font-bold text-warn">Regresar</span></button>
        <button mat-button mat-dialog-close cdkFocusInitial class="font-bold" (click)="aprobarDialogo()"> <span
                class="font-bold text-accent">Continuar</span></button>
    </mat-dialog-actions>
</ng-template>
<!-- [disabled]=" (asignacionPregunta.value.tipoRespuesta === 'multiple' && respuestasOpcionMultiple.length <= 2) || (asignacionPregunta.value.tipoRespuesta === 'unica' && !asignacionPregunta.valid )" -->
