<div class="w-full">

    <mat-tab-group [selectedIndex]="0">
        <mat-tab label="Comite Escrutador">
            <!-- SECCIÓN COMITE ESCRUTADOR  -->
            <div class="w-full h-auto">
                <div
                    class="ml-0.5 mb-5 text-4xl font-extrabold text-secondary flex flex-col flex-auto items-center justify-center">
                    {{ 'postular a comite escrutador' | titlecase }}</div>
                <app-postulante (datosDelPostulante)="primerPostulanteCEscrutador($event)"
                    (campoVacio)="existenDatosPrimerPostulanteCE($event)" />
                <app-postulante (datosDelPostulante)="segundoPostulanteCEscrutador($event)"
                    (campoVacio)="existenDatosSegundoPostulanteCE($event)" />
                <div class="flex flex-row justify-end ">
                    <button mat-flat-button color="primary" class="w-72 h-20 -mt-5"
                        [disabled]="!validacionComiteEscrutador()" (click)="enviarPostulacionComiteEscrutador()">
                        <mat-icon svgIcon="heroicons_solid:cursor-arrow-rays"></mat-icon> <span
                            class="text-lg">&nbsp;Postular</span></button>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Presidente Asamblea">
            <!-- SECCIÓN PRESIDENTE ASAMBLEA  -->
            <div
                class="ml-0.5 mb-5 text-4xl font-extrabold text-secondary flex flex-col flex-auto items-center justify-center">
                {{ 'postular a presidente asamblea' | titlecase }}</div>
            <app-postulante />
        </mat-tab>
        <mat-tab label="Comite Aprobacion acta">
            <!-- SECCIÓN COMITE APROBADOR DE ACTA -->
            <div
                class="ml-0.5 mb-5 text-4xl font-extrabold text-secondary flex flex-col flex-auto items-center justify-center">
                {{ 'postular a comite aprobacion de acta' | titlecase }}</div>
            <app-postulante />
        </mat-tab>
        <mat-tab label="Resumen">
            <!-- SECCIÓN RESUMEN -->
            <div
                class="ml-0.5 mb-5 text-4xl font-extrabold text-secondary flex flex-col flex-auto items-center justify-center">
                {{ 'resumen general' | titlecase }}</div>
            <app-resumen-postulaciones />
        </mat-tab>
    </mat-tab-group>

</div>


<ng-template #dialogTemplate>
    <div class="flex flex-row">
        <mat-icon svgIcon="heroicons_solid:exclamation-triangle" class="mr-2 text-primary"></mat-icon>
        <h2 mat-dialog-title class="font-extrabold">
            ¡Atención!</h2>
    </div>

    <div class="flex flex-col mt-5">
        <mat-dialog-content [innerHTML]="mensajeAlertas">

        </mat-dialog-content>
        <div class="flex justify-end">
            <mat-dialog-actions class="mt-4">
                <button mat-button mat-dialog-close (click)="cerrarDialogo()"><span
                        class="font-bold text-accent">Continuar</span></button>
            </mat-dialog-actions>
        </div>

    </div>
</ng-template>
