<fuse-loading-bar></fuse-loading-bar>
<div class="w-full h-auto">




    <mat-tab-group>

        <!-- Presidente -->
        <mat-tab label="Presidente">
            <div
                class="ml-0.5 mb-5 text-4xl font-extrabold text-secondary flex flex-col flex-auto items-center justify-center">
                {{ 'presidente' | titlecase }}</div>

            <app-postulante (datosDelPostulante)="postulantePR($event)" (campoVacio)="existenDatosPresidente($event)"
                [modoUnSoloPostulante]="true" [modoListarPersonas]="true" />

            <div class="flex flex-row justify-end ">
                <button mat-flat-button color="primary" class="w-72 h-20 -mt-5"
                    [disabled]="!validacionPresidente() || botonActivo" (click)="enviarPostulacionPresidente()">
                    <mat-icon svgIcon="heroicons_solid:cursor-arrow-rays"></mat-icon> <span
                        class="text-lg">&nbsp;Postular</span></button>
            </div>
        </mat-tab>

        <!-- comite Escrutinio -->
        <mat-tab label="Comité Escrutinio">
            <div
                class="ml-0.5 mb-5 text-4xl font-extrabold text-secondary flex flex-col flex-auto items-center justify-center">
                {{ 'comité Escrutinio' | titlecase }}</div>

            <app-postulante (datosDelPostulante)="postulanteCE($event)" (campoVacio)="existenDatosCE($event)"
                [modoUnSoloPostulante]="true" [modoListarPersonas]="true" />

            <div class="flex flex-row justify-end ">
                <button mat-flat-button color="primary" class="w-72 h-20 -mt-5"
                    [disabled]="!validacionCE() || botonActivo" (click)="enviarPostulacionComiteEscrutinio()">
                    <mat-icon svgIcon="heroicons_solid:cursor-arrow-rays"></mat-icon> <span
                        class="text-lg">&nbsp;Postular</span></button>
            </div>
        </mat-tab>


        <!-- Aporbacion acta -->
        <mat-tab label="Aprobador Acta">
            <div
                class="ml-0.5 mb-5 text-4xl font-extrabold text-secondary flex flex-col flex-auto items-center justify-center">
                {{ 'aprobador acta' | titlecase }}</div>

            <app-postulante (datosDelPostulante)="postulanteAA($event)" (campoVacio)="existenDatosAA($event)"
                [modoUnSoloPostulante]="true" [modoListarPersonas]="true" />

            <div class="flex flex-row justify-end ">
                <button mat-flat-button color="primary" class="w-72 h-20 -mt-5"
                    [disabled]="!validacionAA() || botonActivo" (click)="enviarPostulacionAprobadorActa()">
                    <mat-icon svgIcon="heroicons_solid:cursor-arrow-rays"></mat-icon> <span
                        class="text-lg">&nbsp;Postular</span></button>
            </div>
        </mat-tab>


        <mat-tab label="Junta Directiva">
            <!-- JUNTA DIRECTIVA -->
            <div class="w-full h-auto">
                <div
                    class="ml-0.5 mb-5 text-4xl font-extrabold text-secondary flex flex-col flex-auto items-center justify-center">
                    {{ 'junta directiva' | titlecase }}</div>
                <app-postulante (datosDelPostulante)="primerPostulanteJDirectiva($event)"
                    (campoVacio)="existenDatosPrimerPostulanteJD($event)" [modoListarPersonas]="true" />
                <app-postulante (datosDelPostulante)="segundoPostulanteJDirectiva($event)"
                    (campoVacio)="existenDatosSegundoPostulanteJD($event)" [modoListarPersonas]="true" />
                <div class="flex flex-row justify-end ">
                    <button mat-flat-button color="primary" class="w-72 h-20 -mt-5"
                        [disabled]="!validacionJuntaDirectiva() || botonActivo"
                        (click)="enviarPostulacionJuntaDirectiva()">
                        <mat-icon svgIcon="heroicons_solid:cursor-arrow-rays" *ngIf="!botonActivo"></mat-icon><span
                            *ngIf="!botonActivo">
                            Postular
                        </span>
                        <mat-progress-spinner *ngIf="botonActivo" [diameter]="24"
                            [mode]="'indeterminate'"></mat-progress-spinner></button>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="Revisor Fiscal">
            <!-- REVISOR FISCAL  -->
            <div class="w-full h-auto">
                <div
                    class="ml-0.5 mb-5 text-4xl font-extrabold text-secondary flex flex-col flex-auto items-center justify-center">
                    {{ 'revisor fiscal' | titlecase }}</div>
                <app-postulante (datosDelPostulante)="primerpostulanteRFiscal($event)"
                    (campoVacio)="existenDatosPrimerPostulanteRF($event)" [modoListarPersonas]="false" />
                <app-postulante (datosDelPostulante)="segundopostulanteRFiscal($event)"
                    (campoVacio)="existenDatosSegundoPostulanteRF($event)" [modoListarPersonas]="false" />
                <div class="flex flex-row justify-end ">
                    <button mat-flat-button color="primary" class="w-72 h-20 -mt-5"
                        [disabled]="!validacionRevisorFiscal() || botonActivo"
                        (click)="enviarPostulacionRevisoriaFiscal()">
                        <mat-icon svgIcon="heroicons_solid:cursor-arrow-rays" *ngIf="!botonActivo"></mat-icon><span
                            *ngIf="!botonActivo">
                            Postular
                        </span>
                        <mat-progress-spinner *ngIf="botonActivo" [diameter]="24"
                            [mode]="'indeterminate'"></mat-progress-spinner></button>
                </div>
            </div>

        </mat-tab>

        <mat-tab label="Resumen">
            <!-- SECCIÓN RESUMEN -->
            <div
                class="ml-0.5 mb-5 text-4xl font-extrabold text-secondary flex flex-col flex-auto items-center justify-center">
                {{ 'resumen general' | titlecase }}</div>
            <app-resumen-postulaciones />
        </mat-tab>
    </mat-tab-group>

</div>



<!-- alertas -->
<div
    class="flex justify-end fixed top-7 right-9 mt-13 w-full {{(showSuccesAlert || showFailedAlert) ? 'z-50' : ''}} animated-box">

    <div class="w-100 mb-4 ">

        <div class="fixed  top-5 right-9 mt-5 w-80 z-50 animated-box" *ngIf="showSuccesAlert">
            <fuse-alert [type]="'success'" [appearance]="'outline'" class="animated-box-content" @zoomIn>
                <span fuseAlertTitle>Información</span>
                ¡Transacción exitosa!
            </fuse-alert>
        </div>

        <div class="fixed  top-5 right-9 mt-5 w-80 z-50 animated-box" *ngIf="showFailedAlert">
            <fuse-alert [type]="'warn'" [appearance]="'outline'" class="animated-box-content" @shake>
                <span fuseAlertTitle>Información</span>
                ¡Transacción no exitosa!
            </fuse-alert>
        </div>
    </div>
</div>
<!-- fin alertas -->
<ng-template #dialogTemplate>
    <div class="flex flex-row">
        <mat-icon svgIcon="heroicons_solid:exclamation-triangle" class="mr-2 text-primary"></mat-icon>
        <h2 mat-dialog-title class="font-extrabold">
            ¡Atención!</h2>
    </div>

    <div class="flex flex-col mt-5">
        <mat-dialog-content [innerHTML]="mensajeAlertas">

        </mat-dialog-content>
        <div class="flex justify-end">
            <mat-dialog-actions class="mt-4">
                <button mat-button mat-dialog-close (click)="cerrarDialogo()"><span
                        class="font-bold text-accent">Continuar</span></button>
            </mat-dialog-actions>
        </div>

    </div>
</ng-template>
