<div class="flex flex-col flex-auto min-w-0">
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

      <div class="text-4xl font-extrabold tracking-tight leading-none">Registro de usuarios</div>
      <div class="ml-0.5 font-medium text-secondary">Seguridad</div><br>

      <div class="max-h-400">

        <form class="flex-auto mt-4 px-8 pt-10 bg-card shadow rounded overflow-hidden" (submit)="onSubmit()">

          <p class="text-lg font-medium">DATOS PERSONALES</p>
          <mat-divider class="mt-6 mb-10"></mat-divider>
          

          <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-0 sm:ml-4" [subscriptSizing]="'dynamic'">
              <mat-label>Primer nombre:</mat-label>
              <mat-icon
                matPrefix
                class="hidden sm:flex icon-size-5"
                [svgIcon]="'heroicons_solid:user-circle'">
              </mat-icon>
              <input matInput id="nom_pri" name="nom_pri" [(ngModel)]="nom_pri" required>
          </mat-form-field>

          <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-0 sm:ml-4" [subscriptSizing]="'dynamic'">
            <mat-label>Segundo nombre:</mat-label>
            <mat-icon
              matPrefix
              class="hidden sm:flex icon-size-5"
              [svgIcon]="'heroicons_solid:user-circle'">
            </mat-icon>
            <input matInput id="nom_seg" name="nom_seg" [(ngModel)]="nom_seg" required>
          </mat-form-field>

          <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-0 sm:ml-4" [subscriptSizing]="'dynamic'">
            <mat-label>Primer apellido:</mat-label>
            <mat-icon
              matPrefix
              class="hidden sm:flex icon-size-5"
              [svgIcon]="'heroicons_solid:user-circle'">
            </mat-icon>
            <input matInput id="ape_pri" name="ape_pri" [(ngModel)]="ape_pri" required>
          </mat-form-field>

          <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
            <mat-label>Segundo apellido:</mat-label>
            <mat-icon
                  matPrefix
                  class="hidden sm:flex icon-size-5"
                  [svgIcon]="'heroicons_solid:user-circle'">
                </mat-icon>
            <input matInput id="ape_seg" name="ape_seg" [(ngModel)]="ape_seg" required>
          </mat-form-field>

          <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
              <mat-label>Código de usuario:</mat-label>
              <mat-icon
                matPrefix
                class="hidden sm:flex icon-size-5"
                [svgIcon]="'heroicons_outline:tag'">
              </mat-icon>
              <input matInput id="identificacion" name="identificacion" [(ngModel)]="identificacion" required>
          </mat-form-field>

          <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
              <mat-label>Perfil:</mat-label>
              <mat-icon
                matPrefix
                class="hidden sm:flex icon-size-5"
                [svgIcon]="'heroicons_outline:tag'">
              </mat-icon>
              <mat-select id="perfil" name="perfil" [(ngModel)]="perfil" required>
                <mat-option value="one">Accionista</mat-option>
                <mat-option value="two">Administrador</mat-option>
              </mat-select>
          </mat-form-field>
          
          <!--<mat-hint class="w-full sm:w-72 mt-4 sm:mt-0 sm:ml-4">Cargar imagen: </mat-hint>
          <input type="file" accept="image/*" required>-->
                <input
                    id="avatar-file-input"
                    class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                    type="file"
                    [accept]="'image/jpeg, image/png'"
                    #avatarFileInput>
                <label
                    class="flex items-center justify-center w-40 h-15 mt-4 rounded-full cursor-pointer hover:bg-hover"
                    for="avatar-file-input"
                    matRipple>
                    <mat-icon
                        class="text-black sm:ml-4"
                        [svgIcon]="'heroicons_outline:camera'">
                      </mat-icon>
                    <mat-hint class="w-full sm:w-72 mt-4 mb-0 sm:mt-0 sm:ml-4">Cargar imagen</mat-hint>
                </label>
          
          <button class="fuse-mat-button w-30 mt-4 sm:ml-4" mat-fab [color]="'accent'" type="submit">Enviar</button>
          <mat-divider class="mt-6 mb-10"></mat-divider>
        </form>
      </div>
      
    </div>
  </div>
  
