<div class="flex flex-col flex-auto min-w-0">
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <div class="text-3xl font-extrabold tracking-tight leading-none">Seguridad > Crear usuario</div><br>

        <div class="max-h-400">

            <form class="flex-auto mt-4 px-8 pt-10 pb-8 bg-card shadow rounded overflow-hidden" (submit)="onSubmit()" id="form">

            <p class="text-lg font-medium">DATOS PERSONALES</p>
            <mat-divider class="mt-6 mb-10"></mat-divider>

            <mat-form-field class="w-full sm:w-1/5 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Código de usuario (Identificacion):</mat-label>
                <mat-icon
                    matPrefix
                    class="hidden sm:flex icon-size-5"
                    [svgIcon]="'heroicons_outline:tag'">
                </mat-icon>
                <input matInput id="codUsuario" name="codUsuario" [(ngModel)]="identificacion" required>
            </mat-form-field>
            <mat-form-field class="w-full sm:w-1/5 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Correo electrónico</mat-label>
                <mat-icon
                    matPrefix
                    class="hidden sm:flex icon-size-5"
                    [svgIcon]="'heroicons_outline:tag'">
                </mat-icon>
                <input matInput id="email" name="email" [(ngModel)]="email" required>
            </mat-form-field><br>

            <mat-form-field class="w-full sm:w-1/5 mt-4 sm:mt-0 sm:ml-4" [subscriptSizing]="'dynamic'">
              <mat-label>Primer nombre:</mat-label>
              <mat-icon
                matPrefix
                class="hidden sm:flex icon-size-5"
                [svgIcon]="'heroicons_solid:user-circle'">
              </mat-icon>
              <input matInput id="nom_pri" name="nom_pri" [(ngModel)]="nom_pri" required>
            </mat-form-field>

            <mat-form-field class="w-full sm:w-1/5 mt-4 sm:mt-0 sm:ml-4" [subscriptSizing]="'dynamic'">
            <mat-label>Segundo nombre:</mat-label>
            <mat-icon
              matPrefix
              class="hidden sm:flex icon-size-5"
              [svgIcon]="'heroicons_solid:user-circle'">
            </mat-icon>
            <input matInput id="nom_seg" name="nom_seg" [(ngModel)]="nom_seg" required>
            </mat-form-field>

            <mat-form-field class="w-full sm:w-1/5 mt-4 sm:mt-0 sm:ml-4" [subscriptSizing]="'dynamic'">
            <mat-label>Primer apellido:</mat-label>
            <mat-icon
              matPrefix
              class="hidden sm:flex icon-size-5"
              [svgIcon]="'heroicons_solid:user-circle'">
            </mat-icon>
            <input matInput id="ape_pri" name="ape_pri" [(ngModel)]="ape_pri" required>
            </mat-form-field>

            <mat-form-field class="w-full sm:w-1/5 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
            <mat-label>Segundo apellido:</mat-label>
            <mat-icon
                  matPrefix
                  class="hidden sm:flex icon-size-5"
                  [svgIcon]="'heroicons_solid:user-circle'">
                </mat-icon>
            <input matInput id="ape_seg" name="ape_seg" [(ngModel)]="ape_seg" required>
            </mat-form-field>

            <mat-form-field class="w-full sm:w-1/5 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
              <mat-label>Perfil:</mat-label>
              <mat-icon
                matPrefix
                class="hidden sm:flex icon-size-5"
                [svgIcon]="'heroicons_outline:tag'">
              </mat-icon>
              <mat-select id="perfil" name="perfil" [(ngModel)]="perfil" required>
                <mat-option value="1">ADMINISTRADOR</mat-option>
              </mat-select>
            </mat-form-field><br><br>
            <button class="w-full sm:w-1/6 m-4 sm:mt-4 sm:ml-4" type="button" mat-raised-button (click)="fileInput.click()"><mat-icon svgIcon="heroicons_outline:camera"></mat-icon>Subir fotografia</button>
            <input hidden (change)="onFileSelected($event)" #fileInput type="file" required>
            <span class="file-name">{{selectedFile?.name}}</span><br>

          <button class="fuse-mat-button w-30 mt-4 sm:ml-4" mat-fab [color]="'accent'" type="submit">Enviar</button>
        </form>
      </div>

    </div>
  </div>

