<div
    class="grid grid-cols-10 xsm:h-160 sm:h-160 md:h-120 lg:h-90 xl:h-90 border border-blue-900 rounded-lg py-4 mb-10 min-w-160">

    <div class="col-span-8 p-4 flex flex-col ">
        <form [formGroup]="datosPostulante">
            <!-- consultar por numero de cedula -->
            <div
                class="flex flex-col xsm:flex-col sm:flex-col md:flex-col lg:flex-row xl:flex-row  justify-between items-start ">
                <div class="w-full flex flex-row">
                    <div class="w-100">
                        <app-input-autocomplete [labelInput]="'Accionista'"
                            (accionista)="obtenerDatosAccionista($event)"
                            (errorFormulario)="errorFormularioDatosAccionista($event)" [asociados]="modoListarPersonas" />
                        <mat-error *ngIf="existenDatosAccionista">
                            No existen datos para la busqueda.
                        </mat-error>
                    </div>
                    <div class="ml-4 mb-2 flex align items-end  ">
                        <button mat-flat-button [color]="'accent'" (click)="buscarAccionista()"
                            [disabled]="datosPostulante.get('tipoAccionista').invalid || !validacionDatosAccionista "><mat-icon
                                svgIcon="heroicons_solid:magnifying-glass"></mat-icon> Buscar</button>
                    </div>
                </div>

                <div class=" mr-4 mt-5">
                    <mat-radio-group formControlName="tipoAccionista" class="flex-row flex text-primary font-extrabold">
                        <mat-radio-button color="accent" class="text-primary font-extrabold" value="principal"><span
                                class="text-accent font-extrabold text-lg">Principal</span></mat-radio-button>
                        <mat-radio-button color="primary" value="suplente" *ngIf="!modoUnSoloPostulante"><span
                                class="text-primary font-extrabold text-lg">Suplente</span></mat-radio-button>
                    </mat-radio-group>
                    <mat-error
                        *ngIf="datosPostulante.get('tipoAccionista').invalid && datosPostulante.get('tipoAccionista').touched">
                        Debes seleccionar una opción.
                    </mat-error>
                </div>

            </div>
            <mat-divider class="my-6" />
            <div>
                <!-- Primera Sección -->
                <div class="flex flex-row xl:flex-row lg:flex-row md:flex-row sm:flex-col xsm:flex-col">
                    <mat-form-field class="w-full mr-2 ">
                        <mat-label class="font-extrabold text-primary">Nombres y Apellidos:</mat-label>
                        <mat-icon svgIcon="heroicons_solid:user-circle"></mat-icon>
                        <input formControlName="nombresApellidos" matInput type="text" readonly>
                    </mat-form-field>

                    <mat-form-field class="w-full">
                        <mat-label class="font-extrabold text-primary ">Teléfono:</mat-label>
                        <mat-icon svgIcon="heroicons_solid:device-phone-mobile"></mat-icon>
                        <input formControlName="telefono" matInput type="text" readonly>
                    </mat-form-field>
                </div>
            </div>
            <!-- Segunda Sección -->
            <div>
                <div class="flex flex-row xl:flex-row lg:flex-row md:flex-row sm:flex-col xsm:flex-col">
                    <mat-form-field class="w-full mr-2">
                        <mat-label class="font-extrabold text-primary">Documento De Identidad:</mat-label>
                        <mat-icon svgIcon="heroicons_solid:hashtag"></mat-icon>
                        <input matInput formControlName="documentoIdentidad" type="text" readonly>
                    </mat-form-field>

                    <mat-form-field class="w-full">
                        <mat-label class="font-extrabold text-primary">Correo Electrónico:</mat-label>
                        <mat-icon svgIcon="heroicons_solid:at-symbol"></mat-icon>
                        <input formControlName="correoElectronico" matInput type="text" readonly>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
    <!-- Fotografia -->
    <div class="col-span-2 pb-6 pr-4 relative flex justify-center">
        <img *ngIf="imagenCargada" [src]="imagenPostulante" alt="imagen_postulante"
            class="object-cover w-full h-full rounded-md opacity-90 hover:opacity-100">
        <img *ngIf="!imagenCargada" src="../../../../assets/images/avatars/user_default.svg" alt="imagen_por_defecto"
            class="object-cover w-full h-full rounded-md opacity-90 hover:opacity-100">
    </div>
</div>
