<fuse-loading-bar></fuse-loading-bar>
<div class="flex-auto p-6 sm:p-10">
    <!-- titulos -->
    <div class="text-4xl font-extrabold flex flex-col flex-auto items-center justify-center ">Asistencia y Listado</div>
    <div class="ml-0.5 mb-5 text-4xl font-extrabold text-secondary flex flex-col flex-auto items-center justify-center">
        Asamblea </div>

    <!-- alertas -->
    <div class="flex justify-end fixed top-7 right-9 mt-13 w-full z-50 animated-box">

        <div class="w-100 mb-4 ">

            <div class="fixed  top-5 right-9 mt-5 w-80 z-50 animated-box" *ngIf="showSuccesAlert">
                <fuse-alert [type]="'success'" [appearance]="'outline'" class="animated-box-content" @zoomIn>
                    <span fuseAlertTitle>Información</span>
                    ¡Transacción exitosa!
                </fuse-alert>
            </div>

            <div class="fixed  top-5 right-9 mt-5 w-80 z-50 animated-box" *ngIf="showFailedAlert">
                <fuse-alert [type]="'warn'" [appearance]="'outline'" class="animated-box-content" @shake>
                    <span fuseAlertTitle>Información</span>
                    {{mensajeError}}
                </fuse-alert>
            </div>
        </div>
    </div>
    <!-- fin alertas -->

    <div class="flex-auto px-3 pt-10 bg-card shadow rounded overflow-hidden ">

        <div class="flex flex-row justify-between">

            <div class="flex flex-row  items-center w-full mb-5 ml-5 overflow-hidden justify-between">

                <!-- Consecutivo -->
                <div class=" mr-5 mb-5 flex flex-row w-full">
                    <div class="w-96">
                        <app-input-autocomplete [labelInput]="'Buscar'" (accionista)="obtenerPoderdante($event)"
                            (valorInput)="obtenerValorInput($event)"   [asociados]="true" />
                    </div>
                    <div class="mt-7 ml-2 flex flex-row">
                        <button mat-flat-button [color]="'accent'" (click)="buscarAccionista()"><mat-icon
                                svgIcon="heroicons_solid:magnifying-glass-plus"></mat-icon> Ingresar</button>
                        <button class="fuse-mat-button sm:ml-4" mat-stroked-button [color]="'primary'" type="button"
                            (click)="obtenerHuella()">
                            <mat-icon class="sm:ml-4" svgIcon="fingerprint"></mat-icon>
                            Huella
                        </button>
                    </div>
                </div>

                <form [formGroup]="datosAsamblea" class="flex flex-row">
                    <!-- Número de accionistas-->
                    <div class="mr-5">
                        <mat-form-field class="w-25">
                            <mat-icon svgIcon="heroicons_solid:user-group"></mat-icon>
                            <mat-label>Accionistas</mat-label>
                            <input matInput formControlName="numeroAccionistas" readonly>
                        </mat-form-field>
                    </div>

                    <!-- Número de acciones-->
                    <div class="mr-5">
                        <mat-form-field class="w-30">
                            <mat-label>No.Acciones</mat-label>
                            <mat-icon svgIcon="heroicons_solid:hashtag"></mat-icon>
                            <input matInput formControlName="numeroAcciones" readonly>
                        </mat-form-field>
                    </div>

                    <!-- QORUM-->
                    <div class="mr-5">
                        <mat-form-field class="w-24">
                            <mat-label>QORUM</mat-label>
                            <mat-icon svgIcon="heroicons_solid:chart-pie"></mat-icon>
                            <input matInput formControlName="qorum"
                                [value]="datosAsamblea.get('qorum').value | porcentajesQuorum" readonly>
                        </mat-form-field>
                    </div>
                </form>


            </div>
        </div>


        <!-- Spinner carga -->
        <div class="flex justify-center items-center h-100 bg-card " *ngIf="loading">
            <mat-spinner diameter="50" color="accent"></mat-spinner>
        </div>


        <!-- Tabla con registros -->
        <div class="flex-auto  w-full  px-8 pt-10 bg-card  rounded overflow-hidden mb-10" *ngIf="!loading">

            <div class="flex flex-row justify-between items-center">
                <mat-form-field class="w-72">
                    <mat-label>Filtro General</mat-label>
                    <mat-icon svgIcon="heroicons_solid:magnifying-glass-plus"></mat-icon>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Documento, N.Acciones..." #input>
                </mat-form-field>


                <button mat-fab [matMenuTriggerFor]="menu" [color]="'accent'"><mat-icon
                        svgIcon="heroicons_solid:document-arrow-down"></mat-icon></button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="generarExcel()">Excel</button>
                </mat-menu>
            </div>

            <div class="mat-elevation-z8 mb-5">
                <table mat-table [dataSource]="dataSource" matSort>

                    <!-- Consecutivo -->
                    <ng-container matColumnDef="NUMERO">
                        <th mat-header-cell *matHeaderCellDef class="text-center"> CONS </th>
                        <td mat-cell *matCellDef="let row" class="text-center"> {{row.idAsistente}} </td>
                    </ng-container>

                    <!-- Asistencias -->
                    <ng-container matColumnDef="ASISTENCIA">
                        <th mat-header-cell *matHeaderCellDef class="text-center">ASISTENCIA</th>
                        <td mat-cell *matCellDef="let row" class="text-center"> <mat-checkbox color="warn"
                                (change)="imprimirFila(row)" [checked]="row.asistencia">
                            </mat-checkbox> </td>
                    </ng-container>

                    <!-- Acciones -->
                    <ng-container matColumnDef="ACCIONES">
                        <th mat-header-cell *matHeaderCellDef class="text-center">ACCIONES</th>
                        <td mat-cell *matCellDef="let row" class="text-center"> {{row.acciones}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="IDENTIFICACION">
                        <th mat-header-cell *matHeaderCellDef class="text-center"> IDENTIFICACIÓN</th>
                        <td mat-cell *matCellDef="let row" class="text-center"> {{row.codUsuario}} </td>
                    </ng-container>

                    <!-- Fruit Column -->
                    <ng-container matColumnDef="NOMBRES">
                        <th mat-header-cell *matHeaderCellDef class="text-center"> NOMBRE </th>
                        <td mat-cell *matCellDef="let row" class="text-center"> {{row.nombres}} </td>
                    </ng-container>
                    <!-- Fruit Column -->
                    <ng-container matColumnDef="APELLIDOS">
                        <th mat-header-cell *matHeaderCellDef class="text-center"> APELLIDOS </th>
                        <td mat-cell *matCellDef="let row" class="text-center"> {{row.apellidos}} </td>
                    </ng-container>
                    <!-- Fruit Column -->
                    <ng-container matColumnDef="TELEFONO">
                        <th mat-header-cell *matHeaderCellDef class="text-center"> TELEFONO </th>
                        <td mat-cell *matCellDef="let row" class="text-center"> {{row.celPersona}} </td>
                    </ng-container>
                    <!-- Fruit Column -->
                    <ng-container matColumnDef="CORREO">
                        <th mat-header-cell *matHeaderCellDef class="text-center"> CORREO </th>
                        <td mat-cell *matCellDef="let row" class="text-center"> {{row.correoPersona}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="7" class="text-center  p-10 font-extrabold">
                            <div class="flex flex-row text-center justify-center space-x-2 ">
                                <mat-icon svgIcon="heroicons_outline:information-circle" class="text-accent"></mat-icon>
                                <p>En este momento, no hay datos disponibles para visualizar.</p>
                            </div>

                        </td>
                    </tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
            </div>



        </div>

    </div>
