<div class="flex flex-colflex-auto min-w-0">

  <!-- Main -->
  <div class="flex-auto p-6 sm:p-10">
    
    <div class="text-4xl font-extrabold tracking-tight leading-none">Registro de accionistas</div>
      <div class="ml-0.5 font-medium text-secondary">Control de accionistas</div><br>

          <!-- Filters -->
          <div class="max-h-400">
              <form class="flex-auto mt-4 px-8 pt-10 bg-card shadow rounded overflow-hidden" id="accionistas" [formGroup]="accionistasForm" (ngSubmit)="onSubmit()">

                <p class="text-lg font-extrabold">DATOS PERSONALES</p>
                <mat-divider class="mt-6 mb-10"></mat-divider>

                <mat-form-field class="w-full sm:w-32 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-label>Documento:</mat-label>
                  <mat-icon svgIcon="heroicons_outline:identification"></mat-icon>
                  <mat-select  id="tipDocumento" formControlName="tipDocumento" (selectionChange)="onSelectChange($event)" >
                    <mat-option value="CC">CC</mat-option>
                    <mat-option value="CE">CE</mat-option>
                    <mat-option value="TI">TI</mat-option>
                    <mat-option value="RC">RC</mat-option>
                    <mat-option value="NIT">NIT</mat-option>
                  </mat-select>
                </mat-form-field >

                <div *ngIf="showAdditionalField">
                  <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                    <mat-label>Razón social:</mat-label>
                    <input matInput type="text" id="razonSocial"  formControlName="razonSocial">
                  </mat-form-field>
                </div>

                <mat-form-field class="w-full sm:w-36 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-label>Numero:</mat-label>
                  <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:hashtag'"
                        matPrefix></mat-icon>
                  <input matInput type="text" id="codUsuario"  formControlName="codUsuario" >
                  <div *ngIf="accionistasForm.get('codUsuario').hasError('pattern')">Solo números.</div>
                </mat-form-field>

                <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-0 sm:ml-4" [subscriptSizing]="'dynamic'">
                  <mat-label>Primer nombre:</mat-label>
                  <mat-icon
                    matPrefix
                    class="hidden sm:flex icon-size-5"
                    [svgIcon]="'heroicons_solid:user-circle'">
                  </mat-icon>
                  <input matInput type="text" id="nomPri"  formControlName="nomPri" >
              </mat-form-field>
    
              <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-0 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Segundo nombre:</mat-label>
                <mat-icon
                  matPrefix
                  class="hidden sm:flex icon-size-5"
                  [svgIcon]="'heroicons_solid:user-circle'">
                </mat-icon>
                <input matInput type="text" id="nomSeg"  formControlName="nomSeg" >
              </mat-form-field>
    
              <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-0 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Primer apellido:</mat-label>
                <mat-icon
                  matPrefix
                  class="hidden sm:flex icon-size-5"
                  [svgIcon]="'heroicons_solid:user-circle'">
                </mat-icon>
                <input matInput type="text" id="apePri"  formControlName="apePri" >
              </mat-form-field>
    
              <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Segundo apellido:</mat-label>
                <mat-icon
                  matPrefix
                  class="hidden sm:flex icon-size-5"
                  [svgIcon]="'heroicons_solid:user-circle'">
                </mat-icon>
                <input matInput type="text" id="apeSeg"  formControlName="apeSeg" >
              </mat-form-field>

              <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Departamento de expedicion:</mat-label>
                <mat-icon
                      class="icon-size-5"
                      [svgIcon]="'heroicons_solid:map-pin'"
                      matPrefix></mat-icon>
                <mat-select id="departamentos" formControlName="departamentoExp" (selectionChange)="onDepartamentoChange($event)">
                  <mat-option *ngFor="let departamento of departamentos" value="{{ departamento.codigoDepartamento }}">
                    {{ departamento.nombreDepartamento }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Expedida en el municipio de:</mat-label>
                <mat-icon
                      class="icon-size-5"
                      [svgIcon]="'heroicons_solid:map-pin'"
                      matPrefix></mat-icon>
                <mat-select id="municipios" formControlName="municipioExp" >
                  <mat-option *ngFor="let municipio of municipios" value="{{municipio.codMunicipio}}">
                    {{ municipio.nomMunicipio }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="w-full sm:w-40 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Fecha de nacimiento:</mat-label>
                <input matInput  id="fecNacimiento" formControlName="fecNacimiento" matInput [matDatepicker]="picker" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <mat-form-field class="w-full sm:w-28 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Sexo:</mat-label>
                <mat-icon
                      class="icon-size-5"
                      [svgIcon]="'heroicons_solid:user'"
                      matPrefix></mat-icon>
                <mat-select type="text" id="genPersona"  formControlName="genPersona" required>
                  <mat-option value="Masculino">M</mat-option>
                  <mat-option value="Femenino">F</mat-option>
                </mat-select>
              </mat-form-field >

              <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Departamento de nacimiento:</mat-label>
                <mat-icon
                      class="icon-size-5"
                      [svgIcon]="'heroicons_solid:map-pin'"
                      matPrefix></mat-icon>
                <mat-select id="departamentos" formControlName="depNacimiento" (selectionChange)="onDepartamentoNacimiento($event)">
                  <mat-option *ngFor="let departamento of departamentos" value="{{ departamento.codigoDepartamento }}">
                    {{ departamento.nombreDepartamento }}
                  </mat-option>
                </mat-select>
              </mat-form-field>


              <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Municipio de Nacimiento:</mat-label>
                <mat-icon
                      class="icon-size-5"
                      [svgIcon]="'heroicons_solid:map-pin'"
                      matPrefix></mat-icon>
                <mat-select id="municipios" formControlName="lugNacimiento" >
                  <mat-option *ngFor="let municipio of municipiosPersona" value="{{municipio.codMunicipio}}">
                    {{ municipio.nomMunicipio }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Estado civil:</mat-label>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
                <mat-select  id="estCivPersona" formControlName="estCivPersona">
                  <mat-option value="Soltero(a)">Soltero(a)</mat-option>
                  <mat-option value="Casado(a)">Casado(a)</mat-option>
                  <mat-option value="Viudo(a)">Viudo(a)</mat-option>
                  <mat-option value="Separado(a)">Separado(a)</mat-option>
                  <mat-option value="Divorciado(a)">Divorciado(a)</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Numero de celular:</mat-label>
                <mat-icon
                      class="icon-size-5"
                      [svgIcon]="'heroicons_solid:phone'"
                      matPrefix></mat-icon>
                <input matInput type="text" id="celPersona"  formControlName="celPersona" required>
                <div *ngIf="accionistasForm.get('celPersona').hasError('pattern')">Solo números.</div>
              </mat-form-field>

              <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Profesion:</mat-label>
                <mat-icon
                      class="icon-size-5"
                      [svgIcon]="'heroicons_solid:briefcase'"
                      matPrefix></mat-icon>
                <input matInput type="text" id="profPersona"  formControlName="profPersona" required>
              </mat-form-field>

              <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Actividad economica:</mat-label>
                <mat-icon
                      class="icon-size-5"
                      [svgIcon]="'heroicons_solid:building-office-2'"
                      matPrefix></mat-icon>
                <input matInput type="text" id="actEcoPersona"  formControlName="actEcoPersona" required>
              </mat-form-field>

              <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Correo electronico:</mat-label>
                <mat-icon
                      class="icon-size-5"
                      [svgIcon]="'heroicons_solid:envelope'"
                      matPrefix></mat-icon>
                <input matInput type="email" id="correoPersona"  formControlName="correoPersona" required>
                <div *ngIf="accionistasForm.get('correoPersona').hasError('pattern')">Ingrese un correo electrónico válido.</div>
              </mat-form-field>

              <mat-divider class="mt-6 mb-5"></mat-divider>
              <p class="text-lg font-extrabold mt-6 ">DATOS DE DOMICILIO</p>
              <mat-divider class="mt-4 mb-10"></mat-divider>

              <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Tipo de dirección:</mat-label>
                <mat-icon
                      class="icon-size-5"
                      [svgIcon]="'heroicons_solid:map-pin'"
                      matPrefix></mat-icon>
                <mat-select  id="tipoDireccionDomicilio" formControlName="tipoDireccionDomicilio" (selectionChange)="onSelectChangeDireccion($event)" >
                  <mat-option value="Urbana">Urbana</mat-option>
                  <mat-option value="Rural">Rural</mat-option>
                </mat-select>
              </mat-form-field >
              
              <mat-form-field *ngIf="showAdditionalFieldUrb" class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Calle, Cra, Av:</mat-label>
                <mat-icon
                      class="icon-size-5"
                      [svgIcon]="'heroicons_solid:map-pin'"
                      matPrefix></mat-icon>
                <mat-select  id="calle" formControlName="calle" >
                  <mat-option value="Calle">Calle</mat-option>
                  <mat-option value="Cra">Cra</mat-option>
                  <mat-option value="Av">Av</mat-option>
                </mat-select>
              </mat-form-field >

              <mat-form-field *ngIf="showAdditionalFieldUrb" class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Número</mat-label>
                <input matInput  id="numDomicilio" formControlName="numDomicilio">
              </mat-form-field>
          
              <mat-form-field *ngIf="showAdditionalFieldUrb" class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Letra</mat-label>
                <input matInput type="text" id="letraDomicilio" formControlName="letraDomicilio">
              </mat-form-field>

              <mat-form-field *ngIf="showAdditionalFieldUrb" class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Número</mat-label>
                <input matInput type="text" id="num2Domicilio" formControlName="num2Domicilio" >
              </mat-form-field>
        
              <mat-form-field *ngIf="showAdditionalFieldUrb" class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Letra</mat-label>
                <input matInput type="text" id="letra2Domicilio" formControlName="letra2Domicilio"  >
              </mat-form-field>
           
              <mat-form-field *ngIf="showAdditionalFieldUrb" class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Número</mat-label>
                <input matInput type="text" id="num3Domicilio" formControlName="num3Domicilio">
              </mat-form-field>

              <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Dirección domicilio</mat-label>
                <mat-icon
                      class="icon-size-5"
                      [svgIcon]="'heroicons_solid:map-pin'"
                      matPrefix></mat-icon>
                <input matInput type="text" id="dirDomicilio"  formControlName="dirDomicilio">
              </mat-form-field>

              <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Barrio</mat-label>
                <mat-icon
                      class="icon-size-5"
                      [svgIcon]="'heroicons_solid:map-pin'"
                      matPrefix></mat-icon>
                <input matInput type="text" id="barrioDomicilio"  formControlName="barrioDomicilio">
              </mat-form-field>

              <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Departamento:</mat-label>
                <mat-icon
                      class="icon-size-5"
                      [svgIcon]="'heroicons_solid:map-pin'"
                      matPrefix></mat-icon>
                <mat-select id="departamentos" formControlName="departamentoDomicilio" (selectionChange)="onDepartamentoChangeDomicilio($event)">
                  <mat-option *ngFor="let departamento of departamentos" value="{{ departamento.codigoDepartamento }}">
                    {{ departamento.nombreDepartamento }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Municipio:</mat-label>
                <mat-icon
                      class="icon-size-5"
                      [svgIcon]="'heroicons_solid:map-pin'"
                      matPrefix></mat-icon>
                <mat-select id="municipios" formControlName="municipioDomicilio" >
                  <mat-option *ngFor="let municipio of municipiosDomicilio" value="{{municipio.codMunicipio}}">
                    {{ municipio.nomMunicipio }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Pais:</mat-label>
                <mat-icon
                      class="icon-size-5"
                      [svgIcon]="'heroicons_solid:user'"
                      matPrefix></mat-icon>
                    <mat-select type="text" id="paisDomicilio"  formControlName="paisDomicilio" required>
                      <mat-option value="Colombia">Colombia</mat-option>
                    </mat-select>
              </mat-form-field >

              <mat-form-field class="w-full sm:w-40 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Telefono:</mat-label>
                <mat-icon
                      class="icon-size-5"
                      [svgIcon]="'heroicons_solid:phone'"
                      matPrefix></mat-icon>
                <input matInput type="text" id="telfDomicilio"  formControlName="telfDomicilio"  required>
                <div *ngIf="accionistasForm.get('telfDomicilio').hasError('pattern')">Solo números.</div>
              </mat-form-field>

              <mat-form-field class="w-full sm:w-28 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Indicativo:</mat-label>
                <mat-icon
                      class="icon-size-5"
                      [svgIcon]="'heroicons_solid:hashtag'"
                      matPrefix></mat-icon>
                <input matInput type="text" id="indTelDomicilio"  formControlName="indTelDomicilio"  required>
              </mat-form-field>

              <mat-divider class="mt-6 mb-5"></mat-divider>
                <p class="text-lg font-extrabold mt-6 ">DATOS LABORALES</p>
              <mat-divider class="mt-4 mb-10"></mat-divider>

              <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Empresa para la cual labora:</mat-label>
                <mat-icon
                      class="icon-size-5"
                      [svgIcon]="'heroicons_solid:building-office-2'"
                      matPrefix></mat-icon>
                <input matInput type="text" id="nomEmpresa"  formControlName="nomEmpresa"  required>
              </mat-form-field>

              <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Tipo de dirección:</mat-label>
                <mat-icon
                      class="icon-size-5"
                      [svgIcon]="'heroicons_solid:map-pin'"
                      matPrefix></mat-icon>
                <mat-select  id="tipoDireccionLaboral" formControlName="tipoDireccionLaboral" (selectionChange)="onSelectChangeDireccionLaboral($event)">
                  <mat-option value="Urbana">Urbana</mat-option>
                  <mat-option value="Rural">Rural</mat-option>
                </mat-select>
              </mat-form-field >
              
              <mat-form-field *ngIf="showAdditionalFieldUrbLab" class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Calle, Cra, Av:</mat-label>
                <mat-icon
                      class="icon-size-5"
                      [svgIcon]="'heroicons_solid:map-pin'"
                      matPrefix></mat-icon>
                <mat-select  id="calleLaboral" formControlName="calleLaboral">
                  <mat-option value="Calle">Calle</mat-option>
                  <mat-option value="Cra">Cra</mat-option>
                  <mat-option value="Av">Av</mat-option>
                </mat-select>
              </mat-form-field >

              <mat-form-field *ngIf="showAdditionalFieldUrbLab" class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Número</mat-label>
                <input matInput type="text" id="numLaboral" formControlName="numLaboral"  >
              </mat-form-field>
          
              <mat-form-field *ngIf="showAdditionalFieldUrbLab" class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Letra</mat-label>
                <input matInput type="text" id="letraLaboral" formControlName="letraLaboral" >
              </mat-form-field>

              <mat-form-field *ngIf="showAdditionalFieldUrbLab" class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Número</mat-label>
                <input matInput type="text" id="num2Laboral" formControlName="num2Laboral">
              </mat-form-field>
        
              <mat-form-field *ngIf="showAdditionalFieldUrbLab" class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Letra</mat-label>
                <input matInput type="text" id="letra2Laboral" formControlName="letra2Laboral">
              </mat-form-field>
           
              <mat-form-field *ngIf="showAdditionalFieldUrbLab" class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Número</mat-label>
                <input matInput type="text" id="num3Laboral" formControlName="num3Laboral">
              </mat-form-field>

              <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Dirección Laboral</mat-label>
                <mat-icon
                      class="icon-size-5"
                      [svgIcon]="'heroicons_solid:map-pin'"
                      matPrefix></mat-icon>
                <input matInput type="text" id="dirLaboral"  formControlName="dirLaboral">
              </mat-form-field>

              <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Barrio</mat-label>
                <mat-icon
                      class="icon-size-5"
                      [svgIcon]="'heroicons_solid:map-pin'"
                      matPrefix></mat-icon>
                <input matInput type="text" id="barrioLaboral"  formControlName="barrioLaboral">
              </mat-form-field>

              <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Departamento:</mat-label>
                <mat-icon
                      class="icon-size-5"
                      [svgIcon]="'heroicons_solid:map-pin'"
                      matPrefix></mat-icon>
                <mat-select id="departamentos" formControlName="departamentoLaboral" (selectionChange)="onDepartamentoChangeLaboral($event)">
                  <mat-option *ngFor="let departamento of departamentos" value="{{ departamento.codigoDepartamento }}">
                    {{ departamento.nombreDepartamento }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Municipio:</mat-label>
                <mat-icon
                      class="icon-size-5"
                      [svgIcon]="'heroicons_solid:map-pin'"
                      matPrefix></mat-icon>
                <mat-select id="municipios" formControlName="municipioLaboral" >
                  <mat-option *ngFor="let municipio of municipiosLaboral" value="{{municipio.codMunicipio}}">
                    {{ municipio.nomMunicipio }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Pais:</mat-label>
                <mat-icon
                      class="icon-size-5"
                      [svgIcon]="'heroicons_solid:user'"
                      matPrefix></mat-icon>
                    <mat-select type="text" id="paisLaboral"  formControlName="paisLaboral" required>
                      <mat-option value="Colombia">Colombia</mat-option>
                    </mat-select>
              </mat-form-field >

              <mat-form-field class="w-full sm:w-40 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Telefono:</mat-label>
                <mat-icon
                      class="icon-size-5"
                      [svgIcon]="'heroicons_solid:phone'"
                      matPrefix></mat-icon>
                <input matInput type="text" id="telfLaboral"  formControlName="telfLaboral"  required>
                <div *ngIf="accionistasForm.get('telfLaboral').hasError('pattern')">Solo números.</div>
              </mat-form-field>

              <mat-form-field class="w-full sm:w-28 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Extension:</mat-label>
                <mat-icon
                      class="icon-size-5"
                      [svgIcon]="'heroicons_solid:hashtag'"
                      matPrefix></mat-icon>
                <input matInput type="text" id="extLaboral"  formControlName="extLaboral"  required>
              </mat-form-field>

              <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Donde enviar correspondencia?:</mat-label>
                <mat-select type="text" id="dirCorrespondencia"  formControlName="dirCorrespondencia" (selectionChange)="onSelectChangeCorrespondencia($event)">
                  <mat-option value="Direccion laboral">Dirección laboral </mat-option>
                  <mat-option value="Direccion domicilio">Dirección domicilio </mat-option>
                  <mat-option value="Otra">Otra</mat-option>
                </mat-select>
              </mat-form-field >

              <mat-form-field *ngIf="showAdditionalFieldCorrespondencia" class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Cual:</mat-label>
                <input matInput type="text" id="otraDirLaboral"  formControlName="otraDirLaboral"  placeholder="(Indique barrio, municipio, departamento, pais)">
              </mat-form-field>

              <mat-divider class="mt-6 mb-5"></mat-divider>
                <p class="text-lg font-extrabold mt-6 ">DILIGENCIE ESTE ESPACIO SOLO SI EL ACCIONISTA ES MENOR DE EDAD</p>
              <mat-divider class="mt-4 mb-10"></mat-divider>

              <mat-form-field class="w-full sm:w-130 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>¿Indique si los padres ejercen de manera conjunta la patria potestad?:</mat-label>
                <mat-select type="text" id="opcPotestad"  formControlName="opcPotestad" required>
                  <mat-option value="S">Si</mat-option>
                  <mat-option value="N">No</mat-option>
                </mat-select>
              </mat-form-field >

              <p class="text-lg font-medium mt-4 sm:ml-4 ">En caso de respuesta negativa debe aportar documento de limitación de la patria potestad, recuerde que para <br> menores de edad el ejercicio de la patria
                potestad, se ejerce de manera conjunta, pero para efectos de representación en asambleas que realice la entidad se debera indicar en este documento cual
                de los dos padres ejercera la representación del menor.
              </p>

              <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Nombre del representante:</mat-label>
                <mat-icon
                  matPrefix
                  class="hidden sm:flex icon-size-5"
                  [svgIcon]="'heroicons_solid:user-circle'">
                </mat-icon>
                <input matInput type="text" id="nomRepresentante"  formControlName="nomRepresentante"  required>
              </mat-form-field>

              <mat-form-field class="w-full sm:w-40 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Documento:</mat-label>
                <mat-icon svgIcon="heroicons_outline:identification"></mat-icon>
                <mat-select type="text" id="tipoDocRepresentante"  formControlName="tipoDocRepresentante" required>
                  <mat-option value="CC">CC</mat-option>
                  <mat-option value="CE">CE</mat-option>
                  <mat-option value="Otro">OTRO</mat-option>
                </mat-select>
              </mat-form-field >

              <mat-form-field class="w-full sm:w-28 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Numero:</mat-label>
                <mat-icon
                      class="icon-size-5"
                      [svgIcon]="'heroicons_solid:hashtag'"
                      matPrefix></mat-icon>
                <input matInput type="text" id="codRepresentante"  formControlName="codRepresentante" required>
                <div *ngIf="accionistasForm.get('codRepresentante').hasError('pattern')">Solo números.</div>
              </mat-form-field>

              <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Departamento de expedicion:</mat-label>
                <mat-icon
                      class="icon-size-5"
                      [svgIcon]="'heroicons_solid:map-pin'"
                      matPrefix></mat-icon>
                <mat-select id="departamentos" formControlName="departamentoRepresentante" (selectionChange)="onDepartamentoChangeRepresentante($event)">
                  <mat-option *ngFor="let departamento of departamentos" value="{{ departamento.codigoDepartamento }}">
                    {{ departamento.nombreDepartamento }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Municipio de expedicion:</mat-label>
                <mat-icon
                      class="icon-size-5"
                      [svgIcon]="'heroicons_solid:map-pin'"
                      matPrefix></mat-icon>
                <mat-select id="municipios" formControlName="municipioRepresentante" >
                  <mat-option *ngFor="let municipio of municipiosRepresentante" value="{{municipio.codMunicipio}}">
                    {{ municipio.nomMunicipio }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Fecha de nacimiento:</mat-label>
                <input type="text" id="fecNacRepresentante"  formControlName="fecNacRepresentante" matInput [matDatepicker]="clic" required>
                <mat-datepicker-toggle matIconSuffix [for]="clic"></mat-datepicker-toggle>
                <mat-datepicker #clic></mat-datepicker>
              </mat-form-field>

              <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Departamento de nacimiento:</mat-label>
                <mat-icon
                      class="icon-size-5"
                      [svgIcon]="'heroicons_solid:map-pin'"
                      matPrefix></mat-icon>
                <mat-select id="departamentos" formControlName="depNacRepresentante" (selectionChange)="onDepartamentoNacimientoRepresentante($event)">
                  <mat-option *ngFor="let departamento of departamentos" value="{{ departamento.codigoDepartamento }}">
                    {{ departamento.nombreDepartamento }}
                  </mat-option>
                </mat-select>
              </mat-form-field>


              <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Municipio de Nacimiento:</mat-label>
                <mat-icon
                      class="icon-size-5"
                      [svgIcon]="'heroicons_solid:map-pin'"
                      matPrefix></mat-icon>
                <mat-select id="municipios" formControlName="lugNacRepresentante" >
                  <mat-option *ngFor="let municipio of municipiosRepresentanteNacimiento" value="{{municipio.codMunicipio}}">
                    {{ municipio.nomMunicipio }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="w-full sm:w-28 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Sexo:</mat-label>
                <mat-icon
                      class="icon-size-5"
                      [svgIcon]="'heroicons_solid:user'"
                      matPrefix></mat-icon>
                    <mat-select type="text" id="genRepresentante"  formControlName="genRepresentante" required>
                      <mat-option value="Masculino">M</mat-option>
                      <mat-option value="Femenino">F</mat-option>
                    </mat-select>
              </mat-form-field >


              <mat-form-field class="w-full sm:w-40 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Numero de celular:</mat-label>
                <mat-icon
                      class="icon-size-5"
                      [svgIcon]="'heroicons_solid:phone'"
                      matPrefix></mat-icon>
                <input matInput type="text" id="celRepresentante"  formControlName="celRepresentante" required>
                <div *ngIf="accionistasForm.get('celRepresentante').hasError('pattern')">Solo números.</div>
              </mat-form-field>

              <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Estado civil:</mat-label>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
                <mat-select  id="estCivPRepresentante" formControlName="estCivRepresentante">
                  <mat-option value="Soltero(a)">Soltero(a)</mat-option>
                  <mat-option value="Casado(a)">Casado(a)</mat-option>
                  <mat-option value="Viudo(a)">Viudo(a)</mat-option>
                  <mat-option value="Separado(a)">Separado(a)</mat-option>
                  <mat-option value="Divorciado(a)">Divorciado(a)</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Profesion y actividad economica:</mat-label>
                <mat-icon
                      class="icon-size-5"
                      [svgIcon]="'heroicons_solid:briefcase'"
                      matPrefix></mat-icon>
                <input matInput type="text" id="profActRepresentante"  formControlName="profActRepresentante" required>
              </mat-form-field>

              <mat-form-field class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Correo electronico:</mat-label>
                <mat-icon
                      class="icon-size-5"
                      [svgIcon]="'heroicons_solid:envelope'"
                      matPrefix></mat-icon>
                <input matInput type="text" id="correoRepresentante" formControlName="correoRepresentante" required>
                <div *ngIf="accionistasForm.get('correoRepresentante').hasError('pattern')">Ingrese un correo electrónico válido.</div>
              </mat-form-field><br><br>

              <mat-form-field style="display: none;" class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Suscripcion</mat-label>
                <input matInput id="numSuscripcion" formControlName="numSuscripcion">
              </mat-form-field>

              <mat-form-field style="display: none;" class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Vivienda</mat-label>
                <input matInput id="tipoVivienda" formControlName="tipoVivienda">
              </mat-form-field>

              <mat-form-field style="display: none;" class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Personas</mat-label>
                <input matInput id="numPersonas" formControlName="numPersonas">
              </mat-form-field>
              
              <mat-form-field style="display: none;" class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Correo</mat-label>
                <input matInput id="autorizaCorreo" formControlName="autorizaCorreo">
              </mat-form-field>
              
              <mat-form-field style="display: none;" class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Llamada</mat-label>
                <input matInput id="autorizaLlamada" formControlName="autorizaLlamada">
              </mat-form-field>
             
              <mat-form-field style="display: none;" class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Todas</mat-label>
                <input matInput id="autorizaTodas" formControlName="autorizaTodas">
              </mat-form-field>
             
              <mat-form-field style="display: none;" class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Mensaje</mat-label>
                <input matInput id="autorizaMensaje" formControlName="autorizaMensaje">
              </mat-form-field>
              
              <mat-form-field style="display: none;" class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Fisico</mat-label>
                <input matInput id="autorizaFisico" formControlName="autorizaFisico">
              </mat-form-field>

              <mat-form-field style="display: none;" class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Recursos</mat-label>
                <input matInput id="recursos" formControlName="recursos">
              </mat-form-field>

              <mat-form-field style="display: none;" class="w-full sm:w-72 mt-4 sm:mt-4 sm:ml-4" [subscriptSizing]="'dynamic'">
                <mat-label>Ingresos</mat-label>
                <input matInput id="ingresos" formControlName="ingresos">
              </mat-form-field>

            <button class="fuse-mat-button w-30 mt-4 sm:ml-4" mat-fab [color]="'accent'" type="submit"><mat-icon  svgIcon="navigate_next"></mat-icon>Actualizar</button>

            <mat-divider class="mt-6 mb-10"></mat-divider>

          </form>
        </div>  
  </div>
</div>
