<div class="w-full h-auto">
    <div class="flex-auto p-6 sm:p-10">
        <!-- titulos -->
        <div
            class="ml-0.5 mb-5 text-4xl font-extrabold text-secondary flex flex-col flex-auto items-center justify-center">
            Resumen General de preguntas Asamblea No.023 </div>


        <!-- alertas -->
        <!-- <fuse-alert [type]="'success'" [appearance]="'outline'" class="mb-5" *ngIf="showAlert">
            <span fuseAlertTitle>Aprobación exitosa</span>
            ¡Solicitud aprobada!
        </fuse-alert> -->
        <!-- fin alertas -->

        <div class="flex-auto px-3 pt-10 bg-card shadow rounded overflow-hidden ">
            <div class="p-10">

                <div class="flex flex-col">
                    <p class="font-bold text-lg my-4"> Estados financieros</p>
                    <div class="w-full flex flex-row justify-center items-center px-5">
                        <mat-form-field class="w-full">
                            <input matInput placeholder="Escribe aqui la pregunta" />
                        </mat-form-field>

                        <div class="ml-4">
                            <button mat-mini-fab color="warn" class="mb-5"
                                aria-label="Example icon button with a bookmark icon">
                                <mat-icon svgIcon="heroicons_solid:minus"></mat-icon>
                            </button>
                        </div>
                    </div>

                </div>


                <div class="flex flex-col">
                    <p class="font-bold text-lg my-4"> Distribución Utilidades</p>
                    <div class="w-full flex flex-row justify-center items-center px-5">
                        <mat-form-field class="w-full">
                            <input matInput placeholder="Escribe aqui la pregunta" />
                        </mat-form-field>

                        <div class="ml-4">
                            <button mat-mini-fab color="warn" class="mb-5"
                                aria-label="Example icon button with a bookmark icon">
                                <mat-icon svgIcon="heroicons_solid:minus"></mat-icon>
                            </button>
                        </div>
                    </div>

                </div>




            </div>

        </div>


        <!-- Spinner carga -->
        <!-- <div class="flex justify-center items-center h-100 bg-card " >
            <mat-spinner diameter="50" color="accent"></mat-spinner>
        </div> -->


    </div>
</div>
