<fuse-loading-bar></fuse-loading-bar>

<div class="flex-auto p-6 sm:p-10">
    <!-- titulos -->
    <div class="text-4xl font-extrabold flex flex-col flex-auto items-center justify-center ">Cierre de Asamblea</div>
    <div class="ml-0.5 mb-5 text-4xl font-extrabold text-secondary flex flex-col flex-auto items-center justify-center">
        Carga de Actas </div>



    <!-- alertas -->
    <div class="flex justify-end fixed top-7 right-9 mt-13 w-full z-50 animated-box">

        <div class="w-100 mb-4 ">

            <div class="fixed  top-5 right-9 mt-5 w-80 z-50 animated-box" *ngIf="showSuccesAlert">
                <fuse-alert [type]="'success'" [appearance]="'outline'" class="animated-box-content" @zoomIn>
                    <span fuseAlertTitle>Información</span>
                    ¡Transacción exitosa!
                </fuse-alert>
            </div>

            <div class="fixed  top-5 right-9 mt-5 w-80 z-50 animated-box" *ngIf="showFailedAlert">
                <fuse-alert [type]="'warn'" [appearance]="'outline'" class="animated-box-content" @shake>
                    <span fuseAlertTitle>Información</span>
                    ¡Transacción no exitosa!
                </fuse-alert>
            </div>
        </div>
    </div>
    <!-- fin alertas -->

    <!-- Tabla con registros -->
    <div class="grid grid-cols-2 gap-4 bg-card py-4 shadow rounded">
        <div class=" p-5 text-white text-center space-y-4">
            <div class="flex flex-row justify-between w-full items-center">
                <p class="break-words text-black">Acta Cierre Postulaciones</p>
                <div class="flex flex-row space-x-2">
                    <app-button-cargar-documentos [nombreBoton]="''" [formatosAceptados]="'.docx,.doc,.pdf'"
                        (contieneArchivo)="contieneArchivoActaPostulaciones($event)"
                        (archivo)="recibirArchivoActaPostulaciones($event)" #postulacionesButton />
                    <button mat-mini-fab color="primary" aria-label=" button send" class="w-12"
                        (click)="enviarActaPostulaciones()" [disabled]="!existeDocumentoActaCierrePostulaciones">
                        <mat-icon svgIcon="feather:send"></mat-icon>
                    </button>
                </div>
            </div>
            <mat-divider />
            <div class="flex flex-row justify-between w-full items-center">
                <p class="break-words text-black">Acta Reforma </p>
                <div class="flex flex-row space-x-2">
                    <app-button-cargar-documentos [nombreBoton]="''" [formatosAceptados]="'.docx,.doc,.pdf'"
                        (contieneArchivo)="contieneArchivoActaReforma($event)"
                        (archivo)="recibirArchivoActaReforma($event)" #reformaButton />
                    <button mat-mini-fab color="primary" aria-label=" button send" class="w-12"
                        (click)="enviarActaReforma()" [disabled]="!existeDocumentoActaReforma">
                        <mat-icon svgIcon="feather:send"></mat-icon>
                    </button>
                </div>
            </div>
            <mat-divider />
            <div class="flex flex-row justify-between w-full items-center">
                <p class="break-words text-black flex justify-start">Acta Revisoría Fiscal </p>
                <div class="flex flex-row space-x-2">
                    <app-button-cargar-documentos [nombreBoton]="''" [formatosAceptados]="'.docx,.doc,.pdf'"
                        (contieneArchivo)="contieneArchivoActaRevisoriaFiscal($event)"
                        (archivo)="recibirArchivoActaRevisoriaFiscal($event)" #revisoriafiscalButton />
                    <button mat-mini-fab color="primary" aria-label=" button send" class="w-12"
                        (click)="enviarActaRevisoriaFiscal()" [disabled]="!existeDocumentoActaRevisoriaFiscal">
                        <mat-icon svgIcon="feather:send"></mat-icon>
                    </button>
                </div>
            </div>
            <mat-divider />
        </div>
        <!-- columna dos -->
        <div class=" p-5 text-white text-center space-y-4">
            <div class="flex flex-row justify-between w-full items-center">
                <p class="break-words text-black">Acta Poderes</p>
                <div class="flex flex-row space-x-2">
                    <app-button-cargar-documentos [nombreBoton]="''" [formatosAceptados]="'.docx,.doc,.pdf'"
                        (contieneArchivo)="contieneArchivoActaPoderes($event)"
                        (archivo)="recibirArchivoActaPoderes($event)" />
                    <button mat-mini-fab color="primary" aria-label=" button send" class="w-12"
                        (click)="enviarActaPoderes()" [disabled]="!existeDocumentoActaPoderes">
                        <mat-icon svgIcon="feather:send"></mat-icon>
                    </button>
                </div>
            </div>
            <mat-divider />
            <div class="flex flex-row justify-between w-full items-center">
                <p class="break-words text-black">Acta Escrutinio </p>
                <div class="flex flex-row space-x-2">
                    <app-button-cargar-documentos [nombreBoton]="''" [formatosAceptados]="'.docx,.doc,.pdf'"
                        (contieneArchivo)="contieneArchivoActaEscrutinio($event)"
                        (archivo)="recibirArchivoActaEscrutinio($event)" #escrutinioButton />
                    <button mat-mini-fab color="primary" aria-label=" button send" class="w-12"
                        (click)="enviarActaEscrutinio()" [disabled]="!existeDocumentoActaEscrutinio">
                        <mat-icon svgIcon="feather:send"></mat-icon>
                    </button>
                </div>
            </div>
            <mat-divider />
            <div class="flex flex-row justify-between w-full items-center">
                <p class="break-words text-black flex justify-start">Otro Anexo </p>
                <div class="flex flex-row space-x-2">
                    <app-button-cargar-documentos [nombreBoton]="''" [formatosAceptados]="'.docx,.doc,.pdf'"
                        (contieneArchivo)="contieneArchivoOtrosAnexos($event)"
                        (archivo)="recibirArchivoOtroAnexo($event)" #otroAnexoButton />
                    <button mat-mini-fab color="primary" aria-label=" button send" class="w-12"
                        (click)="enviarActaOtroAnexo()" [disabled]="!existeDocumentoOtroAnexo">
                        <mat-icon svgIcon="feather:send"></mat-icon>
                    </button>
                </div>
            </div>
            <mat-divider />
        </div>
    </div>


</div>
